<!-- sidebar -->

<div class="fn-sidebar"></div>

<!-- //sidebar -->

<!-- right-side section (top navbar + add ingredient) -->

<div class="container-fluid" id="pcont">

    <!-- top navbar -->

      <div class="fntop-navbar"></div>

    <!-- //top navbar -->

    <!-- add ingredient page -->

    <div class="cl-mcont">

    	<div class="col-lg-4 col-md-4 col-sm-4 visible-xs">
			<div class="block block-color warning">
				<div class="header">						
                	<h3>Add New Unit Of Measure</h3>
				</div>
				<div class="content">

					<form name="form" novalidate>

						<label>New UnitOfMeasure:</label>
              			<input class="form-control" placeholder="eg. cm" ng-model="Unit.name" name="newUnit" required>
              			<div class="error">
			            	<span ng-show="form.newUnit.$error.required && submitted">name required</span>
			          	</div>
			          	<br>
			          	<label>Add Alias:</label>
              			<input class="form-control" placeholder="eg. centimeter, centimetre" ng-model="Unit.alias" name="newAlias" required>
              			<div class="error">
			            	<span ng-show="form.newAlias.$error.required && submitted">Add Alias</span>
			          	</div>
			          	<br>
			          	<label>Add Preferred_Alias:</label>
              			<input class="form-control" placeholder="eg. cm" ng-model="Unit.preferred_alias" name="newPAlias" required>
              			<div class="error">
			            	<span ng-show="form.newPAlias.$error.required && submitted">Add Preferred_Alias</span>
			          	</div>
			          	<br>
              			<button type="button" class="btn btn-dark" ng-click="addNewUnit(form)">Add Unit</button>
				
					</form>



					</div>
			</div>
        </div>

		<div class="col-lg-1"></div> 

		<div class="col-lg-6 col-md-8 col-sm-8">

			<div ng-show="sucess1">
		      	<div class="alert alert-success alert-msg">
					<button type="button" class="close" ng-click="done1()">×</button>
					<i class="fa fa-check sign"></i>{{add_count}}&nbsp;{{add_uom}} added successfully.
				</div>
		    </div>

			<div ng-show="sucess">
		      	<div class="alert alert-danger alert-msg">
					<button type="button" class="close" ng-click="done()">×</button>
					<i class="fa fa-check sign"></i>{{delete_count}}&nbsp;{{delete_uom}} deleted successfully.
				</div>
		    </div>

			<div class="block block-color warning">
				<div class="header">            
					<h3>

						<span class="hidden-xs">
							All UnitOfMeasure
							<input class="form-control search-unit pull-right" placeholder="Search" ng-model="uom_name">
						</span>


						<span class="visible-xs text-center">
							All UnitOfMeasure
							<br><br>
							<input class="form-control search-unit" placeholder="Search" ng-model="uom_name">
						</span>

					</h3>
				</div>
				<div class="content content-unit">

					<!--  -->
	              	<div class="clearfix pagination_recipe">
		              	<div class="pull-right">
		              		<pagination total-items="TotalUnits" ng-model="CurrentUnitsPage" items-per-page="UnitsPerPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="TotalPages" ng-change="getUnitspages()"></pagination>
						</div>
					</div>
					<!--  -->
					
					<table class="no-border hover">
						<thead class="no-border">
							<tr>
								<th class="text-center"><label>Unit</label></th>
								<th class="text-center hidden-xs"><label>Alias</label></th>
								<th class="text-center"><label>Preferred<br>Alias</label></th>
								<th class="text-center"><label>Action</label></th>
							</tr>
						</thead>
						<tbody class="no-border-y">
							
							<tr ng-repeat="uom in UnitOfMeasure | filter : uom_name ">
	            				<td class="text-center">{{uom.name}}</td>
	            				<td class="text-center hidden-xs">{{uom.alias}}</td>
	            				<td class="text-center">{{uom.preferred_alias}}</td>
	            				<td class="text-center">

	            					<!--  -->
			                        <span data-placement="left" data-toggle="tooltip" data-original-title="Edit">
			                          <a class="label label-success" href="#" target="_self" ng-click="editUnitOfMeasure(uom)" data-toggle="modal"><i class="fa fa-pencil"></i></a>
			                        </span>
			                        <!--  -->
			                        <span data-placement="right" data-toggle="tooltip" data-original-title="Delete">
			                          <a class="label label-danger" href="#" target="_self" data-toggle="modal" ng-click="delete(uom)"><i class="fa fa-times"></i></a>
			                        </span>
			                        <!--  -->

	            				</td>
	            			</tr>

						</tbody>
					</table>

					<!--  -->
	              	<div class="clearfix pagination_recipe">
		              	<div class="pull-right">
		              		<pagination total-items="TotalUnits" ng-model="CurrentUnitsPage" items-per-page="UnitsPerPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="TotalPages" ng-change="getUnitspages()"></pagination>
						</div>
					</div>
					<!--  -->

				</div>
			</div>
        </div>  	

    	<div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
			<div class="block block-color warning">
				<div class="header">						
                	<h3>Add New UnitOfMeasure</h3>
				</div>
				<div class="content">

					<form name="form" novalidate>

						<label>New UnitOfMeasure:</label>
              			<input class="form-control" placeholder="eg. cm" ng-model="Unit.name" name="newUnit" required>
              			<div class="error">
			            	<span ng-show="form.newUnit.$error.required && submitted">name required</span>
			          	</div>
			          	<br>
			          	<label>Add Alias:</label>
              			<input class="form-control" placeholder="eg. centimeter, centimetre" ng-model="Unit.alias" name="newAlias" required>
              			<div class="error">
			            	<span ng-show="form.newAlias.$error.required && submitted">Add Alias</span>
			          	</div>
			          	<br>
			          	<label>Add Preferred_Alias:</label>
              			<input class="form-control" placeholder="eg. cm" ng-model="Unit.preferred_alias" name="newPAlias" required>
              			<div class="error">
			            	<span ng-show="form.newPAlias.$error.required && submitted">Add Preferred_Alias</span>
			          	</div>
			          	<br>
              			<button type="button" class="btn btn-dark" ng-click="addNewUnit(form)">Add Unit</button>
				
					</form>



					</div>
			</div>
        </div>




        <script type="text/ng-template" id="editUnitOfMeasuremodal.html">

        <div class="model-custom">

          <div class="modal-header">

            <h3>Edit UnitOfMeasure</h3>

          </div>

          <form class="form" name="form">

            <div class="modal-body">
              
	            <label>New UnitOfMeasure:</label>
      			<input class="form-control" placeholder="eg. cm" ng-model="data.name" name="newUnit" required>
      			<div class="error">
	            	<span ng-show="form.newUnit.$error.required && submitted">name required</span>
	          	</div>
	          	<br>
	          	<label>Add Alias:</label>
      			<input class="form-control" placeholder="eg. centimeter, centimetre" ng-model="data.alias" name="newAlias" required>
      			<div class="error">
	            	<span ng-show="form.newAlias.$error.required && submitted">Add Alias</span>
	          	</div>
	          	<br>
	          	<label>Add Preferred_Alias:</label>
      			<input class="form-control" placeholder="eg. cm" ng-model="data.preferred_alias" name="newPAlias" required>
      			<div class="error">
	            	<span ng-show="form.newPAlias.$error.required && submitted">Add Preferred_Alias</span>
	          	</div>
	          	<br>

            </div>

            <div class="modal-footer">

              <button type="button" class="btn btn-default btn-flat" ng-click="cancel()">Cancel</button>
              <button type="button" class="btn btn-success btn-flat" ng-click="save(form)">Done</button>

            </div>

          </form>

        </div>

      </script>
      <!--  -->

        


    </div>

    <!-- //add ingredient page -->

</div>

<!-- right-side section (top navbar + add ingredient) -->

<style type="text/css">
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #f16e3f;
	border-color: #f16e3f;
}
.search-unit{
	display: inline; width: 185px;margin-top: -3px;background-color: #ebebeb;color: #f16e3f;font-weight: normal;border: none;
}
.search-unit::-webkit-input-placeholder {
    color: #f16e3f;
}
.search-unit:-moz-placeholder {
    color: #f16e3f;

}
.search-unit::-moz-placeholder {
    color: #f16e3f;

}
.search-unit:-moz-placeholder {
    color: #f16e3f;

}
.content-unit{
	padding: 8px !important;
}
</style>