<!-- sidebar -->

<div class="fn-sidebar"></div>

<!-- //sidebar -->

<!-- right-side section (top navbar + add recipes) -->

<div class="container-fluid" id="pcont">

    <!-- top navbar -->

      <div class="fntop-navbar"></div>

    <!-- //top navbar -->

    <!-- add recipes page -->

    <div class="cl-mcont">

	  <div class="clearfix">
	    <br>
	  <!--  -->
	  <div class="col-sm-1"></div>
	  <!--  -->
	  <d    iv class="col-sm-10">
	    <!--  -->
	    <div class="block-flat">
	      <div class="header">
	        <div class="actions">
	          <!-- <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a>
	          <a class="refresh" href="#"><i class="fa fa-repeat"></i></a>
	          <a class="close-down" href="#"><i class="fa fa-times"></i></a> -->
	        </div>
	        <h3><i class="fa fa-coffee fa-color-black"></i>&nbsp;Add Recipes</h3>
	      </div>
	      <div class="content">
	        <!--  -->
	        <form role="form">
	          <div class="form-group">
	            <label>Recipe Name</label> <input type="text" placeholder="eg. Original Chicken Permesan" class="form-control">
	          </div>
	          <div class="form-group">
	            <label>Description</label><br>
	            <textarea class="form-control" rows=4 style="resize: vertical;" placeholder="Add a brief description of this recipe"></textarea>
	          </div>
	          <div class="form-group">
	            <label>Category</label>
	              <select class="select2">
	                <option value="Desserts">Desserts</option>
	                <option value="Pasta_Pizza">Pizza & Pasta</option>
	                <option value="Slow Cooker">Slow Cooker</option>
	                <option value="Ethnic">Ethnic</option>
	                <option value="Grilling">Grilling</option>
	                <option value="Healthy Eating">Healthy Eating</option>
	                <option value="Kids Meals">Kids Meals</option>
	              </select>
	          </div>



	          <div class="row">

	            <!--  -->
	            <div class="col-sm-2">
	              <div class="form-group">
	                  <label>Quantity</label>
	              </div>
	            </div>
	            <!--  -->
	            <div class="col-sm-2">
	              <div class="form-group">
	                <label>Unit Of Measure</label>
	              </div>
	            </div>
	            <!--  -->
	            <div class="col-sm-8">
	              <div class="form-group">
	                <label>Ingredients</label>
	              </div>
	            </div>
	            <!--  -->




	            <!--  -->

	            <div class="clearfix">

	                <!--  -->
	                <div class="col-sm-2 form-Quantity">
	                  <input parsley-type="number" type="text" class="form-control parsley-validated" required="" placeholder="Quantity (Number)">
	                </div>
	                <!--  -->

	                <!--  -->
	                <div class="col-sm-2 form-Measure">
	                  <!--  -->
	                  <select class="select2">
	                    <option value="tbsp" selected>tbsp</option>
	                    <option value="tsp">tsp</option>
	                    <option value="cup">cup</option>
	                    <option value="cups">cups</option>
	                    <option value="g">g</option>
	                    <option value="oz">oz</option>
	                    <option value="ml">ml</option>
	                  </select>
	                  <!--  -->
	                </div>
	                <!--  -->

	                <!--  -->
	                <div class="col-sm-8 form-ingredients">
	                  <select class="select2">Flour, Egg, Water, Olive Oil
	                       <option value="Flour">Flour</option>
	                       <option value="Egg">Egg</option>
	                       <option value="Water">Water</option>
	                       <option value="Olive Oil">Olive Oil</option>
	                  </select>
	                </div>
	                <!--  -->

	            </div>
	            <br>
	            <!--  -->



	            <!--  -->

	            <div class="clearfix">

	                <!--  -->
	                <div class="col-sm-2 form-Quantity">
	                  <input parsley-type="number" type="text" class="form-control parsley-validated" required="" placeholder="Quantity (Number)">
	                </div>
	                <!--  -->

	                <!--  -->
	                <div class="col-sm-2 form-Measure">
	                  <!--  -->
	                  <select class="select2">
	                    <option value="tbsp" selected>tbsp</option>
	                    <option value="tsp">tsp</option>
	                    <option value="cup">cup</option>
	                    <option value="cups">cups</option>
	                    <option value="g">g</option>
	                    <option value="oz">oz</option>
	                    <option value="ml">ml</option>
	                  </select>
	                  <!--  -->
	                </div>
	                <!--  -->

	                <!--  -->
	                <div class="col-sm-8 form-ingredients">
	                  <select class="select2">Flour, Egg, Water, Olive Oil
	                       <option value="Flour">Flour</option>
	                       <option value="Egg">Egg</option>
	                       <option value="Water">Water</option>
	                       <option value="Olive Oil">Olive Oil</option>
	                  </select>
	                </div>
	                <!--  -->

	            </div>
	            <br>
	            <!--  -->



	            <!--  -->

	            <div class="clearfix">

	                <!--  -->
	                <div class="col-sm-2 form-Quantity">
	                  <input parsley-type="number" type="text" class="form-control parsley-validated" required="" placeholder="Quantity (Number)">
	                </div>
	                <!--  -->

	                <!--  -->
	                <div class="col-sm-2 form-Measure">
	                  <!--  -->
	                  <select class="select2">
	                    <option value="tbsp" selected>tbsp</option>
	                    <option value="tsp">tsp</option>
	                    <option value="cup">cup</option>
	                    <option value="cups">cups</option>
	                    <option value="g">g</option>
	                    <option value="oz">oz</option>
	                    <option value="ml">ml</option>
	                  </select>
	                  <!--  -->
	                </div>
	                <!--  -->

	                <!--  -->
	                <div class="col-sm-8 form-ingredients">
	                  <select class="select2">Flour, Egg, Water, Olive Oil
	                       <option value="Flour">Flour</option>
	                       <option value="Egg">Egg</option>
	                       <option value="Water">Water</option>
	                       <option value="Olive Oil">Olive Oil</option>
	                  </select>
	                </div>
	                <!--  -->

	            </div>
	            <br>
	            <!--  -->




	            <!--  -->

	            <div class="clearfix">

	                <!--  -->
	                <div class="col-sm-2 form-Quantity">
	                  <input parsley-type="number" type="text" class="form-control parsley-validated" required="" placeholder="Quantity (Number)">
	                </div>
	                <!--  -->

	                <!--  -->
	                <div class="col-sm-2 form-Measure">
	                  <!--  -->
	                  <select class="select2">
	                    <option value="tbsp" selected>tbsp</option>
	                    <option value="tsp">tsp</option>
	                    <option value="cup">cup</option>
	                    <option value="cups">cups</option>
	                    <option value="g">g</option>
	                    <option value="oz">oz</option>
	                    <option value="ml">ml</option>
	                  </select>
	                  <!--  -->
	                </div>
	                <!--  -->

	                <!--  -->
	                <div class="col-sm-8 form-ingredients">
	                  <select class="select2">Flour, Egg, Water, Olive Oil
	                       <option value="Flour">Flour</option>
	                       <option value="Egg">Egg</option>
	                       <option value="Water">Water</option>
	                       <option value="Olive Oil">Olive Oil</option>
	                  </select>
	                </div>
	                <!--  -->

	            </div>
	            <br>
	            <!--  -->


	            <!--  -->

	            <div class="clearfix">

	                <!--  -->
	                <div class="col-sm-2 form-Quantity">
	                  <input parsley-type="number" type="text" class="form-control parsley-validated" required="" placeholder="Quantity (Number)">
	                </div>
	                <!--  -->

	                <!--  -->
	                <div class="col-sm-2 form-Measure">
	                  <!--  -->
	                  <select class="select2">
	                    <option value="tbsp" selected>tbsp</option>
	                    <option value="tsp">tsp</option>
	                    <option value="cup">cup</option>
	                    <option value="cups">cups</option>
	                    <option value="g">g</option>
	                    <option value="oz">oz</option>
	                    <option value="ml">ml</option>
	                  </select>
	                  <!--  -->
	                </div>
	                <!--  -->

	                <!--  -->
	                <div class="col-sm-8 form-ingredients">
	                  <select class="select2">Flour, Egg, Water, Olive Oil
	                       <option value="Flour">Flour</option>
	                       <option value="Egg">Egg</option>
	                       <option value="Water">Water</option>
	                       <option value="Olive Oil">Olive Oil</option>
	                  </select>
	                </div>
	                <!--  -->

	            </div>
	            <br>
	            <!--  -->


	          </div>



	          <div class="form-group">
	            <label>Instructions</label>
	            <textarea class="form-control" rows=4 style="resize: vertical;" placeholder="Add detailed instructions on how to prepare this recipe"></textarea>
	          </div>


	            <button class="btn btn-prusia" type="submit">Add</button>
	            <button class="btn btn-default">Cancel</button>

	        </form>
	        <!--  -->
	      </div>
	    </div>
	    <!--  -->
	  </div>
	</div>

    <!-- //add recipes page -->

</div>

<!-- //recipes -->

<!-- ============================================================== -->