<!-- sidebar -->
<div class="fn-sidebar"></div>
<!-- //sidebar -->
<!-- right-side section (top navbar + events) -->
<div class="container-fluid" id="pcont">
  <!-- top navbar -->
  <div class="fntop-navbar"></div>
  <!-- //top navbar -->
  <!-- events page -->
  <div class="cl-mcont">
    <div class="clearfix">
      <br>
      <!--  -->
      <div class="col-lg-1"></div>
      <!--  -->
      <div class="col-lg-10 hidden-xs">
        <!--  -->
        <div class="block-flat">
          <div class="header">
            <div class="actions">
            </div>
            <h3><i class="fa fa-cutlery fa-color-black"></i>&nbsp;Events</h3>
            <!--  -->
            <spam class="add-tag" style="color: #f16e3f;" data-toggle="modal" ng-click="addeditEvent(event)"><i class="fa fa-plus"></i>&nbsp;Add Event</spam>
            <!--  -->
          </div>
          <div class="content">
            <!--  -->
            <div class="clearfix pagination_recipe">
              <input class="input-search hidden-xs" placeholder="Search Event" ng-model="search">
              <div class="pull-right">
                <pagination total-items="Totalevents" ng-model="CurrenteventsPage" items-per-page="eventsPerPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="TotalPages" ng-change="geteventspages()"></pagination>
              </div>
            </div>
            <!--  -->
            <!--  -->
            <div class="table-responsive">
              <table class="table no-border hover">
                <thead class="no-border">
                  <tr>
                    <th class="etable-th-2"><strong>Event Name</strong></th>
                    <th class="etable-th-1"><strong>Date</strong></th>
                    <th class="etable-th-3"><strong>Description</strong></th>
                    <th class="etable-th-4"><strong>Created By</strong></th>
                    <th class="etable-th-5 text-center"><strong>Action</strong></th>
                  </tr>
                </thead>
                <tbody class="no-border-y">
                  <tr  ng-repeat="event in events | filter:search | orderBy:'event_date' " ng-click="eventDetail(event)">
                    <td><a href="/#/events/{{event.id}}" class="event-name">{{event.title}}</a></td>
                    <td>{{event.event_date}}</td>
                    <td>{{event.description}}</td>
                    <td>{{event.owner_id}}</td>
                    <td class="text-center">
                      <!--  -->
                      <span data-placement="left" data-toggle="tooltip" data-original-title="Edit">
                      <a class="label label-success" href="#" target="_self" ng-click="addeditEvent(event)" data-toggle="modal"><i class="fa fa-pencil"></i></a>
                      </span>
                      <!--  -->
                      <span data-placement="right" data-toggle="tooltip" data-original-title="Delete">
                      <a class="label label-danger" href="#" target="_self" ng-click="deleteEvent(event)" data-toggle="modal"><i class="fa fa-times"></i></a>
                      </span>
                      <!--  -->
                    </td>
                  </tr>
                  <!--  -->
                </tbody>
              </table>
            </div>
            <!--  -->
            <!--  -->
            <div class="clearfix pagination_recipe">
              <div class="pull-right">
                <pagination total-items="Totalevents" ng-model="CurrenteventsPage" items-per-page="eventsPerPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="TotalPages" ng-change="geteventspages()"></pagination>
              </div>
            </div>
            <!--  -->
          </div>
        </div>
        <!--  -->
      </div>
      <!--  -->
      <div class="visible-xs">
        <div class="block-flat pos-block-event">
          <div class="header">
            <h3><i class="fa fa-cutlery fa-color-black"></i>&nbsp;Events<input class="input-search" placeholder="Search Event" ng-model="search"></h3>
          </div>
          <div class="content">
              <div ng-repeat="event in events | filter:search | orderBy:'event_date'">
                <div class="no_e">{{$index}}</div>
                <table>
                  <tr>
                    <td><strong>Event Name</strong></td>
                    <td>{{event.title}}</td>
                  </tr>
                  <tr>
                    <td><strong>Description</strong></td>
                    <td>{{event.description}}</td>
                  </tr>
                  <tr>
                    <td><strong>Date</strong></td>
                    <td>{{event.event_date}}</td>
                  </tr>
                  <tr>
                    <td><strong>Created By</strong></td>
                    <td>{{event.owner_id}}</td>
                  </tr>
                  <tr>
                    <td colspan=2>
                      <a class="label label-success" href="#" target="_self" data-toggle="modal" data-toggle="modal" ng-click="addeditEvent(event)">Edit</a>
                      <a class="label label-danger" href="#" target="_self" data-toggle="modal" data-toggle="modal" ng-click="deleteEvent(event)">Delete</a>
                    </td>
                  </tr>
                </table>
                <br>
                </div>
          </div>
        </div>
      </div>
      <!--  -->
      <br>
    </div>

    <!-- ========================================================================================================================= -->
    <!-- <div class="aside-right"></div> -->
    <!-- /^([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9])$/ -->

<!--  -->
<script type="text/ng-template" id="addediteventmodal.html">
  <div class="model-custom" style="font-size: 12px !important">
    <div class="modal-header">
      <h3>{{title}} Tag!</h3>
    </div>
    <form class="form" name="form" style="margin-top: -27px;">
      <div class="modal-body">
        <!-- ----------------------------------------- -->
        <!-- Event name -->
        <div class="form-group pos-form">
          <label>Event Name</label>
          <input type="text" class="form-control" placeholder="Event Name" ng-model="data.title" ng-minlength="3" name="eventname" required>
          <!-- error msg for Event name -->
          <div class="error">
            <span ng-show="form.eventname.$error.minlength && submitted"> Too short!</span>
            <span ng-show="form.eventname.$error.required && submitted">Event name required !!</span>
          </div>
        </div>
        <!-- ----------------------------------------- -->
        <!-- Event Description -->
        <div class="form-group pos-form">
          <label>Event Description</label>
          <textarea class="text-aria-des form-control" ng-model="data.description" style="width:100%;resize:vertical;" placeholder="Event Description" ng-minlength="3" name="eventdescription" required>
          </textarea>
          <!-- error msg for Event Description -->
          <div class="error">
            <span ng-show="form.eventdescription.$error.minlength && submitted"> Too short!</span>
            <span ng-show="form.eventdescription.$error.required && submitted">Event Description required !!</span>
          </div>
        </div>
        <!-- ----------------------------------------- -->
        <div class="form-group pos-form">
          <label>Event Type</label>
          <select ui-select2 ng-model="data.type" data-placeholder="select type" style="width:100%" name="eventtype" ng-required="true">
            <option value=""></option>
            <option ng-repeat="eventType in eventTypes" value="{{eventType}}">{{eventType}}</option>
          </select>
          <div class="error">
            <span ng-show="form.eventtype.$error.required && submitted">select type</span>
          </div>
        </div>
        <!-- ----------------------------------------- -->
        <!-- Event Location -->
        <div class="form-group pos-form">
          <label>Event Location</label>
          <input type="text" class="form-control" placeholder="Event Location" ng-model="data.location" ng-minlength="3" name="eventlocation" required>
          <!-- error msg for Event Location -->
          <div class="error">
            <span ng-show="form.eventlocation.$error.minlength && submitted"> Too short!</span>
            <span ng-show="form.eventlocation.$error.required && submitted">Event Location required !!</span>
          </div>
        </div>
        <!-- ----------------------------------------- -->
        <!-- Event Date -->
        <div class="form-group pos-form">
          <label>Event Date</label>
          <input type="date" class="form-control" placeholder="Event Date" ng-model="data.event_date" ng-minlength="3" name="eventdate" required>
          <!-- error msg for Event Date -->
          <div class="error">
            <span ng-show="form.eventdate.$error.minlength && submitted"> Too short!</span>
            <span ng-show="form.eventdate.$error.required && submitted">Event Date required !!</span>
          </div>
        </div>
        <!-- ----------------------------------------- -->
        <!-- Event Start Time -->
        <div class="form-group">
          <label>Event Start Time</label>
          <input class="form-control" name="stime" ng-model="data.start_time" ng-pattern="/^(?:2[0-3]|[01][0-9]):[0-5][0-9]:[0-5][0-9]$/"  placeholder="eg. hh:mm:ss" required>
          <!-- error msg for Event Start Time -->
          <div class="error">
            <span ng-show="form.stime.$error.minlength && submitted"> Too short!</span>
            <span ng-show="form.stime.$error.required && submitted">Event Starting Time required !!</span>
            <span ng-show="form.stime.$error.pattern">enter valid time</span>
          </div>
        </div>
        <!-- ----------------------------------------- -->
        <!-- Event End Time -->
        <div class="form-group pos-form">
          <label>Event End Time</label>
          <input class="form-control" name="etime" ng-model="data.end_time" ng-pattern="/^(?:2[0-3]|[01][0-9]):[0-5][0-9]:[0-5][0-9]$/"  placeholder="eg. hh:mm:ss" required>
          <!-- error msg for Event End Time -->
          <div class="error">
            <span ng-show="form.etime.$error.minlength && submitted"> Too short!</span>
            <span ng-show="form.etime.$error.required && submitted">Event Ending Time required !!</span>
            <span ng-show="form.etime.$error.pattern">enter valid time</span>
          </div>
        </div>
        <!-- ----------------------------------------- -->
        <div class="form-group pos-form">
          <label>All Day Event</label>
          <select ui-select2 ng-model="data.all_day" data-placeholder="Is event all day ??" style="width:100%" name="eventperiod" ng-required="true">
            <option value=""></option>
            <option ng-repeat="event_Period in eventPeriod" value="{{event_Period.number}}">{{event_Period.add_day}}</option>
          </select>
          <!-- error msg for All Day Event -->
          <div class="error">
            <span ng-show="form.eventperiod.$error.required && submitted">select option</span>
          </div>
        </div>
        <!-- ----------------------------------------- -->
        <!-- Event Notification -->
        <div class="form-group pos-form">
          <label>Event Notification</label>
          <input type="number" class="form-control" placeholder="Event Notification Time" ng-model="data.minutes_before" name="eventnotification" required>
          <!-- error msg for Event Notification Time -->
          <div class="error">
            <span ng-show="form.eventnotification.$error.required && submitted">Event Notification Time required !!</span>
          </div>
        </div>
        <!-- ----------------------------------------- -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-flat" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-success btn-flat" ng-click="save(form)">Done</button>
      </div>
    </form>
  </div>
</script>
<!--  -->
<script type="text/ng-template" id="delete.html">
  <div class="modal-header">
    <h3>Delete Event</h3>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body text-center">
    <!--  -->
    <span class="delete-item">Are you Sure !!<br>you want to Delete this Event ??</span>
    <!--  -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-flat" data-dismiss="modal" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal" ng-click="delete()">Delete</button>
  </div>
</script>
<!--  -->
</div>
<!-- //events page -->
</div>
<!-- //events -->
<style type="text/css">

.no_e{
  padding: 5px;
  background-color: rgba(0,143,0,0.5);
  margin-bottom: 5px;
  color: white;
  font-size: 18px;
  text-align: center;
  border-radius: 2px;
}

.text-aria-des:invalid {
  -moz-box-shadow: none;
  box-shadow: none;
}

.pos-form {
  margin-bottom: 0px !important;
}

.select2-results .select2-result-label {
  color: #555555;
  font-weight: 600;
}

.select2-results .select2-highlighted {
  background: none repeat scroll 0 0 #dddddd !important;
}

.select2-drop-active {
  border-bottom: 1px solid #dddddd !important;
  border-left: 1px solid #dddddd !important;
  border-right: 1px solid #dddddd !important;
}

.select2-container-active .select2-choice, .select2-container-active .select2-choices {
  box-shadow: none;
  border-color: #b9b9b9;
}

.event-name {
  color: #f16e3f;
}

.event-name:hover {
  color: #f16e3f;
  text-decoration: underline;
}

</style>