<!-- sidebar -->
<div class="fn-sidebar"></div>
<!-- //sidebar -->

<!-- right-side section (top navbar + dashboard) -->
<div class="container-fluid" id="pcont">
  	<!-- top navbar -->
  		<div class="fntop-navbar"></div>
  	<!-- //top navbar -->

    	<!-- dashboard -->
    		<div class="fn-dashboard">
        </div>
    	<!-- //dashboard -->
      
    </div>
  </div>
  <!-- //dashboard -->

	
</div>



<!-- <div class="household" ng-repeat="household in households">
   <h3>Household #{{ household.id }} <small>by {{ household.name }}</h3>
   <p>{{ household.emergency_contacts }}</p>
   <p>{{ household.critical_information }}</p>
   <p>Messages: {{ household.messages }} </p>
   <p><a href="#" ng-click="deleteHousehold(household.id)" class="text-muted">Delete</a></p>
 </div> -->
