<!-- sidebar -->
<div class="fn-sidebar"></div>
<!-- //sidebar -->
<!-- right-side section (top navbar + todo) -->
<div class="container-fluid" id="pcont">
  <!-- top navbar -->
  <div class="fntop-navbar"></div>
  <!-- //top navbar -->
  <!-- todos page -->
  <div class="cl-mcont">
    <div class="col-lg-1 visible-lg"></div>
    <!-- this block only visible in mobile screen -->

    <div class="panel-group panel-custom accordion accordion-semi visible-xs" id="accordion3">
        <div class="panel panel-default">
          <div class="panel-heading info">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion3" href="#ac3-1" target="_self" class="collapsed">
              <i class="fa fa-angle-right"></i> Add New Message
              </a>
            </h4>
          </div>
          <div id="ac3-1" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
              <form name="form" class="form-horizontal group-border-dashed" action="#" style="border-radius: 0px;">
                <select ui-select2 ng-model="addMessages.receiver_id" data-placeholder="names" style="width:100%" name="receivername" ng-required="true">
                  <option value=""></option>
                  <option ng-repeat="names in members" value="{{names.id}}">{{names.name}}</option>
                </select>
                <div class="error">
                  <span ng-show="form.receivername.$error.required && submitted">name required</span>
                </div>
                <br>
                <textarea name="msg" class="form-control" placeholder="Message Description" ng-model="addMessages.message" required></textarea>
                <div class="error">
                  <span ng-show="form.msg.$error.required && submitted">message is empty</span>
                </div>
                <br>
                <button type="button" class="btn btn-info" ng-click="addNewMessage(form)">Add</button>
                <br>
              </form>
            </div>
          </div>
        </div>
      </div>
    <!-- // -->
    <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12 todo-list todo-list-1">
      <div class="block block-color info">
        <div class="header">
          <div class="actions">
            <a class="refresh" href="#/messages/"><i class="fa fa-repeat"></i></a>
          </div>
          <h3>Messages</h3>
        </div>
        <div class="content msg-block">
          <div class="content">
            <div class="tab-container">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#received" target="_self" data-toggle="tab">Received</a></li>
                <li class=""><a href="#Sent" target="_self" data-toggle="tab">Sent</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="received">
                  <!--  -->
                  <div class="media" ng-repeat="message in receivedMessages | orderBy:'created_at':true" ng-mouseover="msgRead(message);">
                    <a class="pull-left" href="#">
                    <img class="media-object custom-media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+">
                    </a>
                    <div class="media-body">
                      <h5 class="media-heading color-msg-name">{{message.sender.name}}</h5>
                      <div>
                        <span ng-class="{'fa-envelope-read': message.is_read, 'fa-envelope-unread' : !message.is_read}">
                        <i class="fa fa-envelope"></i>
                        </span>
                        {{message.message}}
                      </div>
                      <div class="">
                        <span class="msg-time">Date :{{message.created_at}}</span>
                      </div>
                    </div>
                  </div>
                  <!--  -->
                </div>
                <div class="tab-pane" id="Sent">
                  <!--  -->
                  <div class="media" ng-repeat="message in sentMessages | orderBy:'created_at':true">
                    <a class="pull-left" href="#">
                    <img class="media-object custom-media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+">
                    </a>
                    <div class="media-body">
                      <h5 class="media-heading color-msg-name">{{message.receiver.name}}</h5>
                      <div>
                        <i class="fa fa-reply"></i>&nbsp;{{message.message}}
                      </div>
                      <div class="">
                        <span class="msg-time">Date :{{message.created_at}}</span>
                      </div>
                    </div>
                  </div>
                  <!--  -->
                </div>
              </div>
            </div>
            <!--  -->
          </div>
        </div>
      </div>
    </div>
    <!-- this block only visible in large medium $ tablet screen -->
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 aside-right hidden-xs">
      <div class="block block-color aside-right">
        <div class="header">
          <h3>Add New Message</h3>
        </div>
        <div class="content">
          <form role="form" name="form" novalidate>
            <select ui-select2 ng-model="addMessages.receiver_id" data-placeholder="names" style="width:100%" name="receivername" ng-required="true">
              <option value=""></option>
              <option ng-repeat="names in members" value="{{names.id}}">{{names.name}}</option>
            </select>
            <div class="error">
              <span ng-show="form.receivername.$error.required && submitted">name required</span>
            </div>
            <br>
            <textarea name="msg" class="form-control" placeholder="Message Description" ng-model="addMessages.message" required></textarea>
            <div class="error">
              <span ng-show="form.msg.$error.required && submitted">message is empty</span>
            </div>
            <br>
            <button type="button" class="btn btn-info" ng-click="addNewMessage(form)">Add</button>
            <br>
          </form>
        </div>
      </div>
    </div>
    <!-- // -->
  </div>
  <!-- //todos page -->
</div>
</div>
<!-- //todo -->
</div>
<style type="text/css">
  .color-msg-name{
  color: #4aa3df;
  }
  /* Message_board */
  .aside-right .select2-container-multi .select2-choices .select2-search-choice {
  background-color: #4aa3df !important;
  }
  .select2-results .select2-highlighted {
  background: none repeat scroll 0 0 #4aa3df !important;
  }
  .select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #4aa3df !important;
  }
  .select2-drop-active {
  border-bottom: 1px solid #4aa3df !important;
  border-left: 1px solid #4aa3df !important;
  border-right: 1px solid #4aa3df !important;
  }
  .select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #4aa3df !important;
  }
  .select2-result-selectable .select2-match, .select2-result-unselectable .select2-match {
  text-decoration: none !important;
  }
  .select2-container-active .select2-choice, .select2-container-active .select2-choices {
  box-shadow: none;
  border-color: #4aa3df;
  }
  /* Message_board */
</style>
<script type="text/javascript">
  $(document).ready(function(){
    $(".messags").select2({width: '100%'});
  });
</script>