<!-- sidebar -->
<div class="fn-sidebar"></div>
<!-- //sidebar -->

<!-- right-side section (top navbar + full recipes) -->
<div class="container-fluid" id="pcont">
    <!-- top navbar -->
      <div class="fntop-navbar"></div>
    <!-- //top navbar -->

    <!-- full recipes page -->
    <div class="cl-mcont">
    <!--  -->
	    <div class="col-xs-1"></div>
	    <div class="col-xs-11">
	        <ol class="breadcrumb">
	          <li><a href="/#/recipes">recipes</a></li>
	          <li class="active">full recipes</li>
	        </ol>
	    </div>
	    <!--  -->
	    <div class="col-xs-1"></div>
	    <div class="col-sm-8">
	        <div class="block-flat">
	            <div class="content">
	                <a href="#"><h1>Pizza</h1></a>
	                <img class="recipe-image pull-right" src="">
	                <br>
	                <span><label>By:</label></span>&nbsp;<span><a href="">john</a></span>
	                <br>
	                <span><label>Category:</label></span>&nbsp;<span>pizza</span>
	                <br>
	                <span><label>Preparation Time:</label></span>&nbsp;<span>25 minutes</span>
	                <br>
	                <span><label>Cook Time:</label></span>&nbsp;<span>15 minutes</span>
	                <br><br>
	                <span><label>Description:</label></span>&nbsp;<span>Etiam mattis arcu non blandit blandit. Sed condimentum pellentesque venenatis. Donec in egestas massa, ac dignissim sapien. Nullam placerat lobortis sapien, in tempor justo imperdiet nec. Nulla ante est, faucibus id eleifend vitae, suscipit eu est.Etiam mattis arcu non blandit blandit. Sed condimentum pellentesque venenatis. Donec in egestas massa, ac dignissim sapien. Nullam placerat lobortis sapien, in tempor justo imperdiet nec. Nulla ante est, faucibus id eleifend vitae, suscipit eu est.</span>
	                <br>
	                <br>
	                <span><label>Ingredient:</label></span>
	                <br>
	                Olive oil<br>
	                Cornmeal (to slide the pizza onto the pizza stone)<br>
	                Tomato sauce (purée)<br>
	                Mozzarella or Parmesan cheese, shredded<br>
	                Feta cheese<br>
	                Mushrooms, thinly sliced<br>
	                Bell peppers, stems and seeds removed, thinly sliced<br>
	                Italian sausage, cooked ahead<br>
	                Chopped fresh basil<br>
	                Pesto<br>
	                Pepperoni, thinly sliced<br>
	                Onions, thinly sliced<br>
	                Sliced ham<br>
	                <br>
	                <span><label>Instruction:</label></span>
	                <br>
	                <ol>
	                    <li>Olive oil</li>
	                    <li>Cornmeal (to slide the pizza onto the pizza stone)</li>
	                    <li>Tomato sauce (purée)</li>
	                    <li>Mozzarella or Parmesan cheese, shredded</li>
	                </ol>
	                <br>
	                <span><label>Tags:</label></span>&nbsp;<span><a href="">john</a></span>,<span><a href="">rechal</a></span>,<span><a href="">joy</a></span>
	                <br>
	                <br>
	                <span><label>Comments:</label></span>
	                <br>
	                <div class="media">
	                  <a class="pull-left" href="#">
	                    <img class="media-object" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" alt="..." width="32px;">
	                  </a>
	                  <div class="media-body">
	                    <span><a href=""><label>John</label></a></span>&nbsp;<span><input class="form-control" placeholder="add comment"></span>
	                  </div>
	                </div>
	                <div class="media">
	                  <a class="pull-left" href="#">
	                    <img class="media-object" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" alt="..." width="32px;">
	                  </a>
	                  <div class="media-body">
	                    <span><a href=""><label>John</label></a></span>&nbsp;i love this recipe :)
	                  </div>
	                </div>
	                <div class="media">
	                  <a class="pull-left" href="#">
	                    <img class="media-object" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" alt="..." width="32px;">
	                  </a>
	                  <div class="media-body">
	                    <span><a href=""><label>John</label></a></span>&nbsp;i love this recipe :)
	                  </div>
	                </div>
	                <div class="media">
	                  <a class="pull-left" href="#">
	                    <img class="media-object" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" alt="..." width="32px;">
	                  </a>
	                  <div class="media-body">
	                    <span><a href=""><label>John</label></a></span>&nbsp;i love this recipe :)
	                  </div>
	                </div>
	            </div>
	       </div>
	    </div>
	    <!--  -->
	    <div class="col-sm-3">
	        <div class="block block-color">
	        <div class="header">
	          <h3>Tag</h3>
	        </div>
	        <div class="content">
	          <div id="external-events">
	            <div class="external-event ui-draggable" style="position: relative;">person-1</div>
	            <div class="external-event ui-draggable" style="position: relative;">person-2</div>
	            <div class="external-event ui-draggable" style="position: relative;">person-3</div>
	            <div class="external-event ui-draggable" style="position: relative;">person-4</div>
	            <div class="external-event ui-draggable" style="position: relative;">person-5</div>
	            <br><br>
	            <p>
	              <input type="checkbox" id="drop-remove"> <label for="drop-remove">remove after drop</label>
	            </p>
	          </div>
	        </div>
	      </div>
	    </div>
	    <!--  -->
	</div>
    <!-- //full recipes page -->      
</div>
<!-- //full recipes -->