<!-- sidebar -->
<div class="fn-sidebar"></div>
<!-- //sidebar -->
<!-- right-side section (top navbar + tag) -->
<div class="container-fluid" id="pcont">
  <!-- top navbar -->
  <div class="fntop-navbar"></div>
  <!-- //top navbar -->
  <!-- tag page -->
  <div class="cl-mcont file-upload">
    <!--  -->
    <div class="col-lg-1"></div>
    <!--  -->
    <div class="row pos-mobile-tag">
      <div class="col-md-1 visible-md visible-lg"></div>
      <div class="col-lg-10">
        <!--  -->
        <div class="block-flat">
          <div class="header">
            <div class="actions">
            </div>
            <h3><i class="fa fa-tag fa-color-black"></i>&nbsp;Tags</h3>
            <spam class="add-tag" data-toggle="modal" ng-click="editTag(tag)"><i class="fa fa-plus"></i>&nbsp;Add Tag</spam>
          </div>
          <div class="content tag clearfix">

          <div ng-repeat="tag in data.tags" class="tag_s hidden-xs">
            <div class="tag-color" style="color:{{tag.fontcolor}} ;background-color:{{tag.color}};box-shadow: 0 0 15px white;">
            {{tag.name}}
            </div>
            <!--  -->
            <br>
            <!--  -->

            <a class="label label-success" href="#" target="_self" ng-click="editTag(tag)" data-toggle="modal"><i class="fa fa-pencil"></i></a>

            <!--  -->
            <a class="label label-danger" href="#" target="_self" data-toggle="modal" ng-click="deleteTag(tag)"><i class="fa fa-times"></i></a>
            <!--  -->
          </div>

            <!--  -->
            <div class="table-responsive visible-xs">
              <table class="table no-border hover">
                <thead class="no-border">
                  <tr>
                    <th class="" style="width: 50%"><strong>Tag Name</strong></th>
                    <th class="text-center" style="width: 50%"><strong>Action</strong></th>
                  </tr>
                </thead>
                <tbody class="no-border-y" ng-repeat="tag in data.tags" >
                  <tr>
                    <td class="">
                      <span class="tag-color" style="color:{{tag.fontcolor}} ;background-color:{{tag.color}}">
                      {{tag.name}}
                      </span>
                    </td>
                    <td class="text-center">
                      <!--  -->
                      <span data-placement="left" data-toggle="tooltip" data-original-title="Edit">
                      <a class="label label-success" href="#" target="_self" ng-click="editTag(tag)" data-toggle="modal"><i class="fa fa-pencil"></i></a>
                      </span>
                      <!--  -->
                      <span data-placement="right" data-toggle="tooltip" data-original-title="Delete">
                      <a class="label label-danger" href="#" target="_self" data-toggle="modal" ng-click="deleteTag(tag)"><i class="fa fa-times"></i></a>
                      </span>
                      <!--  -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--  -->
          </div>
        </div>
        <!--  -->
      </div>
    </div>
    <!--  -->
    <script type="text/ng-template" id="delete.html">
      <div class="modal-header">
        <h3>Delete Tag</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body text-center">
        <!--  -->
        <span class="delete-item">Are you Sure !!<br>you want to Delete this Tag ??</span>
        <!--  -->
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-default btn-flat" data-dismiss="modal" ng-click="cancel()">Cancel</button>
  <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal" ng-click="delete()">Delete</button>
  </div>
  </script>
  <!--  -->
  <script type="text/ng-template" id="editTagmodal.html">
    <div class="model-custom">

      <div class="modal-header">

        <h3>{{title}} Tag!</h3>

      </div>

      <form class="form" name="form">

        <div class="modal-body">
          <!-- ----------------------------------------- -->
          <!-- tag name -->
          <div class="form-group">
            <label>Tag Name</label>
            <input type="text" class="form-control" placeholder="Tag Name" ng-model="data.name" ng-minlength="3" name="tagname" required>
          </div>
          <!-- error msg for tag name -->
          <div class="error">
            <span ng-show="form.tagname.$error.minlength && submitted"> Too short!</span>
            <span ng-show="form.tagname.$error.required && submitted">Tag name required !!</span>
          </div>
          <!-- ----------------------------------------- -->
          <!-- font color -->
          <div class="form-group pos-form">
            <label>font color</label>
            <select ui-select2 ng-model="data.fontcolor" data-placeholder="Select font color" style="width:100%" name="fontcolor" ng-required="true">
              <option value=""></option>
              <option ng-repeat="option in options" value="{{option.value}}">{{option.label}}</option>
            </select>
            <!-- error msg for All Day Event -->
            <div class="error">
              <span ng-show="form.fontcolor.$error.required && submitted">select color</span>
            </div>
          </div>
          <!-- ----------------------------------------- -->
          <!-- tag name -->
          <div class="form-group">
            <label>Background Color</label>
            <input colorpicker="hex" placeholder="click to select background color" class="form-control" name="tagcolor" required type="text" ng-model="data.color" hax>
          </div>
          <!-- error msg for background color -->
          <div class="error">
            <span ng-show="form.tagcolor.$error.required && submitted">click to select background color !!</span>
          </div>
          <!-- ----------------------------------------- -->
          <!-- preview tag -->
          <div class="clearfix">
            <div class="pull-right">
              <br/>
              <span class="tag-color" style="color:{{data.fontcolor}};background-color:{{data.color}}">
                &nbsp;{{data.name}}
              </span>
            </div>
          </div>
          <!-- ----------------------------------------- -->

</div>
<div class="modal-footer">
<button type="button" class="btn btn-default btn-flat" ng-click="cancel()">Cancel</button>
<button type="button" class="btn btn-success btn-flat" ng-click="save(form)">Done</button>
</div>
</form>
</div>
</script>
<!--  -->
</div>
<!-- //tag page -->
</div>
<!-- //tag -->