<!-- sidebar -->
<div class="fn-sidebar"></div>
<!-- //sidebar -->

<!-- right-side section (top navbar + todo) -->
<div class="container-fluid" id="pcont">
  	<!-- top navbar -->
  		<div class="fntop-navbar"></div>
  	<!-- //top navbar -->

    	<!-- todos page -->
    	<div class="cl-mcont">

		  <div class="clearfix">
		  <div class="col-lg-1 visible-lg"></div>
		      <!--  -->
		       <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 aside-right visible-xs">
		        <div class="block block-color aside-right">
		          <div class="header">
		            <h3>Add New Todo</h3>
		          </div>

		            <div class="content">

		               <form name="form" class="form-horizontal group-border-dashed" action="#" style="border-radius: 0px;">

		               	<label style="color:">Todo Name</label>
		                <input name="name" type="text" class="form-control" placeholder="Ender todo title" ng-model="SentTodo.title" required>
		                <div class="error">
	                      <span ng-show="form.name.$error.required && submitted">name required</span>
	                    </div>
		                <br>

		                <label>Assign To</label>
		                <select name="assignedname" ng-model="SentTodo.assigned_to" data-placeholder="Select Member" class="todo" required>
	                        <option value=""></option>
	                        <option ng-repeat="names in members" value="{{names.id}}">{{names.name}}</option>
	                    </select>
	                    <div class="error">
	                      <span ng-show="form.assignedname.$error.required">name member</span>
	                    </div>
	                    <br><br>

	                    <label>Todo's Due Date</label>
		                <input name="date" class="form-control datetime" size="16" type="text" placeholder="Select Due Date" ng-model="SentTodo.due_date" required>
		                <div class="error">
	                      <span ng-show="form.date.$error.required && submitted">select date</span>
	                    </div>
		                <br>

		                <label>Todo's Description</label>
		                <textarea name="description" class="form-control" placeholder="Enter Description" ng-model="SentTodo.description" required></textarea>
		                <div class="error">
	                      <span ng-show="form.description.$error.required && submitted">Enter Description</span>
	                    </div>
		                <br>

		                <button type="button" class="btn btn-success" ng-click="SentTodos(form)">Add</button>
		                <br>

		              </form>

		            </div>

		        </div>
		      </div>
		      <!--  -->
		      <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12 todo-list">

		        <div class="block block-color success">
		          <div class="header">
		            <div class="actions">
		              <a class="refresh" href="#/todos/"><i class="fa fa-repeat"></i></a>
		            </div>
		            <h3>Todo's</h3>
		          </div>
		          <!--  -->
		          <div class="content">
		            <!--  -->
		            <div class="tab-container">
		              <ul class="nav nav-tabs">
		                <li class="active"><a href="#Assigned" target="_self" data-toggle="tab">Assigned</a></li>
		                <li class=""><a href="#Assigned_to" target="_self" data-toggle="tab">Assigned to</a></li>
		                <li class=""><a href="#Completed" target="_self" data-toggle="tab">Completed</a></li>
		              </ul>
		              <div class="tab-content">
		                <div class="tab-pane active" id="Assigned">
		                  <div ng-repeat="todo in todos | orderBy:'due_date':true">
		                    <div class="todo-block clearfix">
		                      <h4><span class="color_todo">{{todo.title}}</span>
		                      <span><i class="fa fa-check-circle icon-position"></i></span></h4>
		                      <p>{{todo.description}}</p>
		                      <p class="date-todo">Assigned By : {{todo.assigned_by.name}}</p>
		                      <p class="date-todo">Due Date :{{todo.due_date}}</p>
		                    </div>
		                  <hr>
		                 </div>
		                </div>
		                <div class="tab-pane cont" id="Assigned_to">
		                  <div  ng-repeat="todo in assignedToTodos | orderBy:'due_date':true">
		                    <div class="todo-block clearfix">
		                      <h4><span class="color_todo">{{todo.title}}</span>
		                      <span ng-class="{'icon-position-c': todo.is_complete, 'icon-position' : !todo.is_complete}">
		                        <i class="fa fa-check-circle">
		                        </i>
		                      </span></h4>
		                      <p>{{todo.description}}</p>
		                      <p class="date-todo">Assigned To : {{todo.assigned_to.name}}</p>
		                      <p class="date-todo">Due Date :{{todo.due_date}}</p>
		                    </div>
		                    <hr>
		                  </div>
		                </div>
		                <div class="tab-pane cont" id="Completed">
		                  <div ng-repeat="todo in completedTodos | orderBy:'due_date':true">
		                    <div class="todo-block clearfix">
		                      <h4><span class="color_todo">{{todo.title}}</span>
		                      <span><i class="fa fa-check-circle icon-position-c"></i></span></h4>
		                      <p>{{todo.description}}</p>
		                      <p class="date-todo">Assigned By : {{todo.assigned_by.name}}</p>
		                      <p class="date-todo">Due Date :{{todo.due_date}}</p>
		                    </div>
		                    <hr>
		                  </div>
		                </div>
		              </div>
		            </div>
		            <!--  -->
		          </div>
		        </div>
		          <!--  -->
		      </div>
		      <!--  -->
		      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 aside-right hidden-xs">
		        <div class="block block-color aside-right">
		          <div class="header">
		            <h3>Add New Todo</h3>
		          </div>
		            <div class="content">

		               <form name="form" class="form-horizontal group-border-dashed" action="#" style="border-radius: 0px;">

		               	<label style="color:">Todo Name</label>
		                <input name="name" type="text" class="form-control" placeholder="Ender todo title" ng-model="SentTodo.title" required>
		                <div class="error">
	                      <span ng-show="form.name.$error.required && submitted">name required</span>
	                    </div>
		                <br>

		                <label>Assign To</label>
		                <select name="assignedname" ng-model="SentTodo.assigned_to" data-placeholder="Select Member" class="todo" required>
	                        <option value=""></option>
	                        <option ng-repeat="names in members" value="{{names.id}}">{{names.name}}</option>
	                    </select>
	                    <div class="error">
	                      <span ng-show="form.assignedname.$error.required">name member</span>
	                    </div>
	                    <br><br>

	                    <label>Todo's Due Date</label>
		                <input name="date" class="form-control datetime" size="16" type="text" placeholder="Select Due Date" ng-model="SentTodo.due_date" required>
		                <div class="error">
	                      <span ng-show="form.date.$error.required && submitted">select date</span>
	                    </div>
		                <br>

		                <label>Todo's Description</label>
		                <textarea name="description" class="form-control" placeholder="Enter Description" ng-model="SentTodo.description" required></textarea>
		                <div class="error">
	                      <span ng-show="form.description.$error.required && submitted">Enter Description</span>
	                    </div>
		                <br>

		                <button type="button" class="btn btn-success" ng-click="SentTodos(form)">Add</button>
		                <br>

		              </form>

		            </div>
		        </div>
		      </div>
		    </div>
		</div>
    	<!-- //todos page -->      
</div>
<!-- //todo -->

<style type="text/css">
	/* todos_board */
	.aside-right .select2-container-multi .select2-choices .select2-search-choice {
		background-color: #19b698 !important;
	}
	.aside-right .select2-container-multi .select2-choices {
		padding: 0px !important;
		background: #fff;
		box-shadow: none;
	}
	.aside-right .select2-drop-active {
		border: 1px solid #19b698 !important;
	}
	.select2-results .select2-highlighted {
		background: none repeat scroll 0 0 #19b698 !important;
	}
	.select2-drop.select2-drop-above.select2-drop-active {
		border-top: 1px solid #19b698 !important;
	}
	.select2-drop-active {
		border-bottom: 1px solid #19b698 !important;
		border-left: 1px solid #19b698 !important;
		border-right: 1px solid #19b698 !important;
	}
	.select2-container-multi.select2-container-active .select2-choices {
		border: 1px solid #19b698 !important;
	}
	.select2-result-selectable .select2-match, .select2-result-unselectable .select2-match {
		text-decoration: none !important;
	}
	.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
	background: #fff;
	border-color: rgba(0, 0, 0, 0) #19b698 #19b698;
	}
	.select2-container-active .select2-choice,
	.select2-container-active .select2-choices {
	  box-shadow: none;
	  border-color: #19b698;
	}
	/* todos_board */
	.datetimepicker table tr td.active, .datetimepicker table tr td.active:hover, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled:hover {
	background: #19b698 !important;
	background-image: none !important;
	}
	.datetimepicker table tr td span.active, .datetimepicker table tr td span.active:hover, .datetimepicker table tr td span.active.disabled, .datetimepicker table tr td span.active.disabled:hover {
	background: #19b698 !important;
	background-image: none !important;
	}
	.color_todo{
		color: #19b698;
	}
</style>

<script type="text/javascript">
    $(document).ready(function(){
      /*Date Range Picker*/
      $('#reservation').daterangepicker();
      $('#reservationtime').daterangepicker({
        timePicker: true,
        timePickerIncrement: 30,
        format: 'MM/DD/YYYY h:mm A'
      });
      var cb = function(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + "]");
      }

      var optionSet1 = {
        startDate: moment().subtract('days', 29),
        endDate: moment(),
        minDate: '01/01/2012',
        maxDate: '12/31/2014',
        dateLimit: { days: 60 },
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        timePickerIncrement: 1,
        timePicker12Hour: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
           'Last 7 Days': [moment().subtract('days', 6), moment()],
           'Last 30 Days': [moment().subtract('days', 29), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
        },
        opens: 'left',
        buttonClasses: ['btn btn-default'],
        applyClass: 'btn-small btn-primary',
        cancelClass: 'btn-small',
        format: 'MM/DD/YYYY',
        separator: ' to ',
        locale: {
            applyLabel: 'Submit',
            cancelLabel: 'Clear',
            fromLabel: 'From',
            toLabel: 'To',
            customRangeLabel: 'Custom',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            firstDay: 1
        }
      };

      var optionSet2 = {
        startDate: moment().subtract('days', 7),
        endDate: moment(),
        opens: 'left',
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
           'Last 7 Days': [moment().subtract('days', 6), moment()],
           'Last 30 Days': [moment().subtract('days', 29), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
        }
      };

      $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

      $('#reportrange').daterangepicker(optionSet1, cb);

      $('#reportrange').on('show', function() { console.log("show event fired"); });
      $('#reportrange').on('hide', function() { console.log("hide event fired"); });
      $('#reportrange').on('apply', function(ev, picker) {
        console.log("apply event fired, start/end dates are "
          + picker.startDate.format('MMMM D, YYYY')
          + " to "
          + picker.endDate.format('MMMM D, YYYY')
        );
      });
      $('#reportrange').on('cancel', function(ev, picker) { console.log("cancel event fired"); });
      /*Switch*/
      // $('.switch').bootstrapSwitch();

      /*DateTime Picker*/
        $(".datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});

      /*Tags*/
        $(".todo").select2({width: '100%'});

    });
</script>