<!-- sidebar -->
<div class="fn-sidebar"></div>
<!-- //sidebar -->

<!-- right-side section (top navbar + user) -->
<div class="container-fluid" id="pcont">
    <!-- top navbar -->
      <div class="fntop-navbar"></div>
    <!-- //top navbar -->

      <!-- user page -->
      	<div class="cl-mcont">
			<div class="row user-margin">
			    <div class="col-lg-12">
			    <!--  -->
			    <div class="block-flat clearfix user">
			        <div class="header">
			            <div class="actions ">
			                <span class="edit_profile"><i class="fa fa-pencil-square-o fa-2x hidden-xs"></i><a href="/#/edit_profile">Edit Profile</a></span>
			            </div>
			            <!--  -->
			            <h3><a href="">{{user.name}}</a></h3>
			            <!--  -->
			            <!-- <div class="visible-xs">
			                <span class="edit_profile"><a href="edit_profile.html">Edit Profile</a></span>
			            </div> -->
			        </div>
			        <div class="content">
			            <span><img class="user-image" src="../600px-1000px-Ashoka_Chakra.svg.png"></span>
			            <div class="visible-xs"><br></div>
			            <div class="user-profile">
			                <div class="user-profile hidden-xs">
			                    <span class="user-title2">Role</span><span>{{user.role}}</span><br>
			                    <span class="user-title3">Email</span><span>{{user.email}}</span><br>
			                    <span class="user-title8">Birthdate</span><span></span><br>
			                    <span class="user-title4">Home No</span><span>{{user.home_number}}</span><br>
			                    <span class="user-title5">Work No</span><span>{{user.work_number}}</span><br>
			                    <span class="user-title6">Mobile No</span><span>{{user.mobile_number}}</span><br>
			                    <span class="user-title7">Address</span><div class="user-address">Housename<br>{{user.street}}<br>{{user.city}}<br>{{user.state}}<br>{{user.country}}&nbsp;-&nbsp;{{user.zip}}</div>
			                </div>
			                <!--  -->
			                <div class="user-profile visible-xs">
			                    <span class="user-title2">Role</span><span>{{user.role}}</span><br>
			                    <span class="user-title3">Email</span><span>{{user.email}}</span><br>
			                    <span class="user-title8">Birthdate</span><span></span><br>
			                    <span class="user-title4">Home No</span><span>{{user.home_number}}</span><br>
			                    <span class="user-title5">Work No</span><span>{{user.work_number}}</span><br>
			                    <span class="user-title6">Mobile No</span><span>{{user.mobile_number}}</span><br>
			                    <span class="user-title7">Address</span><div class="user-address">Housename<br>{{user.street}}<br>{{user.city}}<br>{{user.state}}<br>{{user.country}}&nbsp;-&nbsp;{{user.zip}}</div>
			                </div>
			            </div>
			        </div>
			    </div>
			    <!--  -->
			</div>
			</div>
		</div>
      <!-- //user page -->      
</div>
<!-- //user -->