.fn-sidebar .cl-navblock .content {
  width: 280px;
  position: fixed;
}

.col-margin-padding {
  padding-left: 5px;
  padding-right: 5px;
}

.cl-mcont {
  background-color: #F0F0F0;
  color: inherit;
  font-size: 13px;
  font-weight: 200;
  line-height: 21px;
  padding: 5px;
  margin-top: 5px;
}

.cl-vnavigation {
  margin-top: 1px;
}

.sidebar-logo {
  background: #476077;
  padding: 15px 20px;
  display: block;
  height: 64px;
}

.cl-vnavigation .active > a {
  background: #2A2C34;
  border-left: 2px solid #476077;
}

.block.block-color .header {
  border-radius: 0;
  border: 0;
  background: #272930;
  color: #fff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #476077;
  color: #fff;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-menu li > a:hover {
  background-color: #476077;
  background-image: none;
  color: #FFF;
}

.content-box-height {
  height: 366px;
  overflow: scroll;
  overflow-x: hidden;
}

.content-1,.content-2 {
  height: 230px;
  overflow: scroll;
  overflow-x: hidden;
}

.accordion.accordion-semi .panel-heading a.collapsed {
  background-color: #FFF !important;
  color: #555;
  border-bottom: 0px none;
}

.panel-custom .panel-collapse .panel-body {
  padding: 15px 10px 20px 10px !important;
}
/* custom scroll-bar */
.content-box-height::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.content-font {
  /*font-family: sans-serif;*/
  font-size: 13px;
}

.todo-position {
  margin-top: -20px;
  margin-left: 30px;
}

.content-box-height::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.content-box-height::-webkit-scrollbar-thumb {
  background-color: #333333;
}
/* /custom scrool-bar */
.emergency-contacts-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.emergency-contacts-scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

.emergency-contacts-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ea6153;
}

.meal-title {
  color: #6d579d !important;
}

.meal-title:hover {
  color: #6d579d !important;
  text-decoration: underline;
}

.meal-title1 {
  color: #6d579d !important;
}

.meal-title1:hover {
  color: #6d579d !important;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eee;
}

.comment-recipes {
  background-color: #F0F0F0;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

.margin-custom {
  margin-top: 5px;
}

.img-size {
  border: 1px solid #333333;
  float: right;
  display: inherit;
}

.count {
  display: inline-block;
  margin-top: -56px;
  float: right;
}

.col-margin-padding a {
  color: white;
}

.details {
  position: absolute;
  bottom: 18px;
  right: 18px;
  /*margin-right: -18px;*/
  ;
}

.col-margin-padding a:hover {
  color: #dedede;
}

.block-flat {
  margin-bottom: 10px;
}

.block.block-color.primary .header {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 6px;
  border-radius: 3px;
}

.content-block {
  min-height: 600px;
}
/*.block-flat{
  border-radius: none;
  position: relative;
  -webkit-border-radius:none;
  border: none;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
  transition: padding 500ms;
  -moz-transition: padding 500ms;
  -webkit-transition: padding 500ms;
}*/
.block-margin-bottom {
  margin-bottom: 0px !important;
}

.col-margin-padding .header {
  border-radius: 2px !important;
}

.nav-tabs > li > a {
  padding: 9px 15px;
  font-size: 13px;
  margin-right: 0;
  min-width: 80px;
  text-align: center;
  color: #7761a7;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.search-icon {
  font-size: 1.8em;
  margin-left: -25px;
  margin-top: 5px;
}

.pos-input {
  margin-left: -15px;
}

.paper .external-event {
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: transparent;
  color: black;
  font-size: .85em;
  cursor: pointer;
  display: inline-block;
}
/* */
@media (min-width: 1440px) and (max-width: 1565px) {
  .content-font {
    font-size: 12px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .content-font {
    font-size: 12px;
  }

  .img-size {
    border: 1px solid #333;
    float: right;
    display: inherit;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .col-margin-padding .block .header h3 {
    font-size: 18px;
  }
}

@media (min-width: 1200px) and (max-width: 1350px) {
  .col-margin-padding .block-flat h1 {
    font-size: 30px;
  }

  .count {
    margin-top: -49px;
  }
}

@media all and (max-width: 1200px) {
  .col-margin-padding {
    padding-left: 1px;
    padding-right: 1px;
  }

  .cl-mcont .block .content {
    padding: 10px;
  }

  .cl-sidebar {
    width: 150px;
  }

  .fn-sidebar .cl-navblock .content {
    width: 150px;
  }

  .img-size {
    border: 1px solid #333;
    float: right;
    display: inherit;
  }

  .content-font {
    font-size: 12px;
  }

  .col-margin-padding .block-flat h1 {
    font-size: 25px;
  }

  .count {
    margin-top: -42px;
  }

  .col-margin-padding .block .header h3 {
    font-size: 15px;
  }
}

@media all and (max-width: 993px) {
  .cl-sidebar {
    width: 55px;
  }

  .fn-sidebar .cl-navblock .content {
    width: 55px;
    overflow: hidden;
  }

  .col-margin-padding {
    padding-left: 2px;
    padding-right: 2px;
  }

  .cl-mcont .block .content {
    min-height: 110px;
  }
}

@media all and (max-width: 767px) {
  .pos-block-event {
    margin-top: -23px;
  }

  .cl-mcont {
    font-size: 12px;
    line-height: 1.5em;
  }

  .cl-sidebar {
    width: 100%;
  }

  .fn-sidebar .cl-navblock .content {
    width: 100%;
    position: inherit;
  }

  .col-margin-padding .block .header h1 {
    font-size: 30px;
  }

  .nav-tabs > li > a {
    padding: 9px 0px;
    font-size: 12px;
    min-width: 75px;
  }

  .content-box-height {
    height: 265px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .col-margin-padding-23 {
    margin-top: -20px;
  }
}
/* */
.aside-right .header {
  background-color: #3a3a3a !important;
}

.aside-right .header h3 {
  color: #efefef !important;
}

.aside-right textarea {
  resize: vertical;
  min-height: 140px;
}

.date-todo {
  color: #b9b9b9 !important;
}

.todo-block {
  padding: 10px;
}

.todo-block:hover {
  background-color: #f5f5f5;
}
/* */
.caption-1 {
  width: 100%;
  z-index: 500;
}

.caption-1 h3 {
  color: white;
  border: none;
  text-shadow: none;
  margin-top: 40px;
  background-color: rgba(0,0,0,1);
  display: inline-block;
  margin-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15%;
  padding-right: 15px;
}

.caption-1 h4 {
  color: #333;
  border: none;
  text-shadow: none;
  margin-left: 15%;
}

.caption-1 h1 {
  color: #333;
  border: none;
  text-shadow: none;
  margin-left: 15%;
  margin-top: 0px;
}

.caption-1 h1:hover {
  background-color: rgba(0,0,0,0.1);
}

.caption-1 p {
  color: #333;
  border: none;
  text-shadow: none;
  margin-left: 15%;
}

.des {
  margin-top: -10px;
}

.carousel-inner {
  height: 260px !important;
  background-color: #ffd479;
}

.ingredients h4 {
  margin-left: -15px;
}

.ingredients {
  margin-left: 15%;
}

.ingredients-list {
  margin-left: -35px;
}

.ingredients-list p {
  margin-top: 10px;
  margin-left: 0;
}

.margin-15 {
  margin-left: 15px;
}

.btn-pos-1 {
  margin-left: -15px;
}

.img-pos {
  background-color: #dedede;
  width: 190px;
  height: 145px;
  margin-left: 0px;
  margin-right: 15px;
  float: left;
}

.img-pos123 {
  min-height: 200px;
  width: 195px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin: 5px;
  float: left !important;
  padding: 15px;
}

.recent-recipes-block {
  height: 351px;
  overflow-y: scroll;
}

.recipes-block h4 {
  margin-top: -12px;
  display: inline-block;
}

.recipes-block h4:hover {
  text-decoration: underline;
}

.favoriterecipe i {
  color: #dddddd;
  font-size: 17px;
  cursor: pointer;
}

.favoriterecipedone i {
  color: #7761a7;
  font-size: 17px;
  cursor: pointer;
  /*box-shadow: 0px 0px 1px black;*/
  ;
}

@media all and (max-width: 1200px) {
  .recipes-block6 {
    padding: 5px !important;
  }
}

@media all and (max-width: 992px) {
  .img-pos {
    width: 150px;
  }

  .carousel-inner {
    height: 200px !important;
  }

  .visible-d-p {
    display: none;
  }

  .visible-p {
    display: none;
  }
}

@media all and (max-width: 814px) {
  .recipes-block6 .header h2 {
    font-size: 24px !important;
  }
}

@media all and (max-width: 321px) {
  .img-pos123 {
    min-height: 70%;
    width: 70%;
    background-color: #F0F0F0;
    border-radius: 5px;
    margin: 5px auto;
    float: none !important;
    padding: 15px;
    text-align: center;
  }
}

@media all and (max-width: 768px) {
  .img-pos {
    background-color: #dedede;
    width: 190px;
    height: 145px;
    margin-left: 0px;
    margin-right: 15px;
    float: none;
  }

  .recipes-block h4 {
    margin-top: 0px;
  }

  .recipes-block {
    margin-top: 20px;
    margin-left: 0px;
    padding: 5px;
  }
}

/* todo page */
.todo-list .nav-tabs li.active a {
  border-top: 2px solid #19b698 !important;
}

.icon-position {
  color: #cbcbcb;
}

.icon-position-c {
  color: #19b698;
}

.icon-position:hover,.icon-position-c:hover {
  cursor: pointer;
}

.completed-todos {
  background-color: rgba(25,182,152,0.2);
  border-radius: 5px;
}

.completed-todos .date-todo {
  color: #b9b9b9 !important;
}

.completed-todos:hover {
  background-color: rgba(25,182,152,0.3) !important;
}

@media all and (max-width: 1200px) {
  .block .header h3 {
    font-size: 22px;
  }
}

@media all and (max-width: 992px) {
}

@media all and (max-width: 767px) {
  .todo-list {
    margin-top: 0px;
  }

  .todo-list-1 {
    margin-top: -30px;
  }

  .aside-right {
    padding-left: 0px;
    padding-right: 0px;
  }

  .todo-list {
    padding-left: 0px;
    padding-right: 0px;
  }
}
/* //todo page  */

/* calender page */
.cal-block {
  padding-left: 10px;
  padding-right: 15px;
  margin-left: 5px;
  margin-right: 0px;
}

.cal-block1 {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: -15px;
  margin-right: 0px;
}

@media all and (max-width: 991px) {
  .cal-block1 {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media all and (max-width: 768px) {
  .fc-header .fc-header-left, .fc-header .fc-header-center, .fc-header .fc-header-right {
    text-align: center;
    display: inline;
    padding: 20px;
  }
}

@media all and (max-width: 620px) {
  .fc-header .fc-header-left, .fc-header .fc-header-center, .fc-header .fc-header-right {
    text-align: center;
    display: inline-block;
    padding-bottom: 10px !important;
    padding-top: 0px !important;
    padding-left: 17px !important;
    padding-right: 0px !important;
  }
}

@media all and (max-width: 355px) {
  .fc-header .fc-header-left, .fc-header .fc-header-center, .fc-header .fc-header-right {
    text-align: left;
    display: block;
    padding-left: 0px !important;
    margin-bottom: 20px;
  }

  .fc-header-title h2 {
    margin-left: -10px;
  }

  .fc .fc-header-space {
    padding-left: 2px;
  }
}
/* //calender page */

/* Message_board */
.cl-mcont .block .msg-block {
  padding: 5px !important;
}

.msg-block .media {
  padding: 15px !important;
  margin-top: 0px;
  border-bottom: 1px solid #ebebeb;
}

.msg-block .media:last-child {
  padding: 15px !important;
  margin-top: 0px;
  border-bottom: 0px solid #ebebeb;
}

.msg-block .media:hover {
  background-color: #f5f5f5;
}

.msg-time {
  color: #cbcbcb;
}

.msg-block .nav-tabs li.active a {
  border-top: 2px solid #4aa3df !important;
}

.msg-block .tab-content {
  padding: 0px;
}

.msg-active {
  background-color: #fafafa;
  border-bottom: 1px solid #ebebeb;
}

.fa-envelope-unread {
  color: #4aa3df;
}

.fa-envelope-read {
  color: #cbcbcb;
}
/* Message_board */

/* shopping list */
.shopping-list .block-flat .header {
  background-color: white;
  margin: -20px -20px 0px -20px;
  padding: 10px;
  padding-top: 20px;
  padding-left: 20px;
  color: black !important;
}

.fa-color-black {
  color: black;
}

.shopping-list .table > thead > tr > th {
  border-bottom: 1px solid #DDD !important;
}
/* //shopping-list */

/* file upload */
.file-upload .table > thead > tr > th {
  border-bottom: 1px solid #DDD !important;
}

.file-upload h3 {
}

.file-upload h4 {
  position: absolute;
  top: 18px;
  right: 20px;
}

.file-upload .add-file {
  color: #0096ff;
  cursor: pointer;
}

.btn-pos {
  position: absolute;
  top: 8px;
  right: 30px;
}

.btn-file {
  color: #0096ff;
  cursor: pointer;
  font-size: 18px;
}

.btn-file:hover {
  color: #0064cd;
}

.file-upload .header {
  background-color: white;
  margin: -20px -20px 0px -20px;
  padding: 10px;
  padding-top: 20px;
  padding-left: 20px;
  color: black !important;
}

.file-upload .btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  border: none;
}

.file-upload .add-file:hover {
  color: #0064cd;
}

.office-img {
  width: 18px;
}

.model-custom .modal-header {
  background-color: #efefef;
  border-radius: 5px 5px 0 0;
  padding-top: 28px;
  height: 79px;
}

.model-custom .modal-footer {
  background-color: #efefef;
}

.file-upload ol li {
  margin-left: -27px;
}

.delete-item {
  font-size: 20px;
  color: red;
}

.cell-3 {
  width: 72%;
}

@media (min-width: 768px) and (max-width: 840px) {
  .cell-3 {
    width: 67%;
  }
}
/* //file upload */

/* tag */
.add-tag {
  position: absolute;
  top: 27px;
  right: 40px;
  color: #0096ff;
  cursor: pointer;
  font-size: 18px;
}

.add-tag i {
  font-size: 14px !important;
}

.tag table tr td {
  vertical-align: middle !important;
}

.tag table tr td .input-group {
  margin-bottom: 0px !important;
}

.tag table tr td .btn {
  margin-left: 0px;
}

.tag .color-left-padding {
  padding-left: 0px !important;
  -moz-padding-start: 1px !important;
}

.tag-color-xs {
  display: inline-block;
  margin-top: 15px;
}

.tag-color-input-xs {
  width: 136px;
  margin-top: -26px;
  margin-left: 56px;
}

.tag-color {
  border-radius: 2px;
  padding: 4px 5px 4px 5px;
  color: black;
  font-weight: normal;
}

@media all and (max-width: 768px) {
  .width-color-field {
    width: 150px;
  }
}

/* //tag */

/* Event page */

.etable-th-1 {
  width: 12%;
}

.etable-th-2 {
  width: 15%;
}

.etable-th-3 {
  width: 40%;
}

.etable-th-5 {
  width: 12%;
}

.ol-margin-left {
  margin-left: -24px;
}

@media all and (max-width: 992px) {
  .etable-th-1 {
    width: 11%;
  }

  .etable-th-2 {
    width: 17%;
  }

  .etable-th-3 {
    width: 42%;
  }
}
/* //Event page */

/*add Recipes*/
.form-ingredients .select2-container .select2-choice > .select2-chosen {
  color: #555555;
}

.form-Quantity input::-webkit-input-placeholder {
  color: #555555;
}

.form-Measure input::-webkit-input-placeholder {
  color: #555555;
}

.form-Measure ul .active {
  background-color: #dddddd !important;
}

.form-Measure .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background: #8d8d8d;
}

.form-Measure .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-menu li > a:hover {
  background-color: #8d8d8d;
}
/* //add Recipes */

/**/
.recipe-image {
  height: 180px;
  width: 190px;
  box-shadow: 0 0 1px black;
  margin-top: -45px !important;
}

.recipe-image-xs {
  height: 180px;
  width: 190px;
  box-shadow: 0 0 1px black;
}
/**/


/* user page */

.user-image {
  height: 150px;
  width: 150px;
  /*border: 1px solid #333;*/
  box-shadow: 0px 0px 5px #a2a2a2;
  border-radius: 2px;
}

.user-profile {
  font-size: 18px;
  margin-left: 100px;
  /*color: #303030;*/
  font-weight: normal;
  margin-top: -150px;
  line-height: 2;
}

.user-title1 {
  margin-right: 150px;
}

.user-title2 {
  margin-right: 158px;
}

.user-title3 {
  margin-right: 153px;
}

.user-title4 {
  margin-right: 128px;
}

.user-title5 {
  margin-right: 132px;
}

.user-title6 {
  margin-right: 122px;
}

.user-title7 {
  margin-right: 134px;
}

.user-title8 {
  margin-right: 127px;
}

.user-address {
  margin-top: -28px;
  margin-left: 183px;
  line-height: 1.2;
}

.edit_profile a {
  color: #816bb1 !important;
  font-size: 18px !important;
  font-weight: normal !important;
  text-shadow: none !important;
}

.edit_profile a:hover {
  text-decoration: underline;
}

.edit_profile i {
  color: #816bb1 !important;
  font-size: 18px !important;
  font-weight: normal !important;
  text-shadow: none !important;
}

.user .actions {
  margin-top: 7px !important;
}

.edit-field-user {
  width: 47%;
  margin-top: -42px;
  margin-left: 100px;
}

.user-profile-edit {
  font-size: 18px;
  font-weight: 100 !important;
  line-height: 2;
}

.user-image-1 .fileinput-preview.thumbnail {
  border: 1px solid #cbcbcb;
  cursor: pointer;
}

.user-image-1 .btn-file {
  font-size: 13px;
  color: white;
  margin-left: 0px;
}

.user-image-1 .thumbnail {
  border-radius: 0px;
}

.user-profile-edit label {
  font-weight: normal !important;
}

.user-margin {
  margin-left: 10px;
  margin-right: 10px;
}

@media all and (max-width: 992px) {
  .user-margin {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media all and (max-width: 767px) {
  .user-profile {
    font-size: 18px;
    margin-left: 0px;
  /*color: #303030;*/
    font-weight: normal;
    margin-top: 0px;
    line-height: 2;
  }

  .user-title2 {
    margin-right: 68px;
  }

  .user-title3 {
    margin-right: 63px;
  }

  .user-title4 {
    margin-right: 38px;
  }

  .user-title5 {
    margin-right: 42px;
  }

  .user-title6 {
    margin-right: 32px;
  }

  .user-title7 {
    margin-right: 44px;
  }

  .user-title8 {
    margin-right: 39px;
  }

  .user-address {
    margin-left: 94px;
    line-height: 1;
  }

  .edit-field-user {
    width: 100%;
    margin-top: -1px;
    margin-left: 0px;
  }
}
/* //user page */

/**/
.error {
  color: red;
  font-size: 12px !important;
}

.error-position {
  margin-left: 100px;
  font-weight: 400;
}

@media all and (max-width: 767px) {
  .error-position {
    margin-left: 0px;
  }
}

/* password-reset */

.password-link {
  margin-left: 100px;
  margin-top: 30px;
  font-size: 13px;
  cursor: pointer;
  color: blue;
}

.password-link:hover {
  text-decoration: underline;
}
/* common classes */
.alert-msg {
  font-size: 14px;
  font-weight: 400;
}

.add_ing {
  margin-left: 15px;
  font-size: 16px;
  text-decoration: underline;
}

.add_ing:hover {
  cursor: pointer;
  color: green;
}

.ing_icon {
  font-size: 18px;
  cursor: pointer;
  margin-top: 9px;
}

.ing_icon:hover {
  color: red;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #f16e3f;
  border-color: #f16e3f;
}

.tag_linear {
  display: inline-block;
  margin-right: 3px;
}

.tag_color_drop {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
  cursor: pointer;
}

.tag_color {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
  float: left;
  cursor: pointer;
}

.hoverClass {
  background-color: #f5f5f5;
  margin-right: 10px;
  border: 2px dashed #e6e6e6;
  padding: 13px;
  margin: -15px;
}

.pagination_recipe {
  background-color: #f0f0f0;
  margin-bottom: 10px;
  padding-right: 20px;
  margin-top: 10px;
}

.active_drop {
  padding: 0px;
}

.active-drop-1 {
  padding: 15px;
}

.recipe_list:hover {
  background-color: #f5f5f5;
}

.custom-media-object {
  width: 64px;
  height: 64px;
}

.event-name {
  cursor: pointer;
}

.input-search {
  font-size: 12px;
  width: 135px;
  height: 29px;
  margin-top: 18px;
  margin-left: 15px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 5px;
}

.accordion.accordion-semi .panel-heading.info a {
  background-color: #4AA3DF;
  border-bottom: 1px solid #3080a8;
}

.input-search-msg {
  font-size: 12px;
  width: 135px;
  height: 27px;
  margin-top: -2px;
  display: inherit;
  border-radius: 5px;
  padding-left: 5px;
  background-color: rgba(52,133,187,0.5);
  border: 1px solid rgba(52,133,187,1);
  color: white;
}

.input-search-msg::-webkit-input-placeholder {
  color: #dedede;
}
.input-search-msg:-moz-placeholder{
  color: #dedede;
}
.input-search-msg:-ms-input-placeholder{
  color: #dedede;
}

.input-search-todo {
  font-size: 12px;
  width: 135px;
  height: 27px;
  margin-top: -2px;
  display: inherit;
  border-radius: 5px;
  padding-left: 5px;
  background-color: rgba(23,128,101,0.5);
  border: 1px solid rgba(23,128,101,1);
  color: white;
}

.input-search-todo::-webkit-input-placeholder {
  color: #dedede;
}
.input-search-todo:-moz-placeholder{
  color: #dedede;
}
.input-search-todo:-ms-input-placeholder{
  color: #dedede;
}

.input-search-recipe {
  font-size: 12px;
  width: 135px;
  height: 27px;
  margin-top: 0px;
  display: inherit;
  border-radius: 5px;
  padding-left: 5px;
  background-color: rgba(91,74,131,0.5);
  border: 1px solid rgba(91,74,131,1);
  color: white;
}

.input-search-recipe::-webkit-input-placeholder {
  color: #dedede;
}
.input-search-recipe:-moz-placeholder{
  color: #dedede;
}
.input-search-recipe:-ms-input-placeholder{
  color: #dedede;
}
.col-one{
  width: 50%;
  float: left;
  display: inline-block;
}
.table-user td{
  border-top: 1px solid #dadada;
  vertical-align: top !important;
}
.profile-pos{
  margin-top: -20px !important;
}
.pos-img{
  padding-top: 20px !important;
}
@media all and (max-width: 767px) {
  .recipedetail-title h1{
    font-size: 18px;
    margin-bottom: -15px;
  }
  .recipeDetail-pos{
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -5px;
  }
  .edit-userprofile .user-margin{
    margin-top: -5px !important;
  }
  .edit-userprofile .col-lg-12{
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
  .mobile-user-name{
    font-size: 16px;
  }
  .pos-table-user{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .mobile-margin-user{
    margin-top: -5px !important;
  }
  .mobile-margin-ing{
    margin-top: -35px !important;
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
  .mobile-margin-user .block-flat{
    padding: 5px !important;
  }
  .pos-mobile-tag{
    margin-top: -5px !important;
  }
  .backdrop{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1999;
  }
  .mobile-view{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2000;
  }
  .margin-alert-1{
    margin-left: -65.5px;
  }
  .margin-alert-2{
    margin-left: -115px;
  }
  .margin-alert-3{
    margin-left: -105px;
  }
  .margin-alert-4{
    margin-left: -66px;
  }
  .margin-alert-5{
    margin-left: -77px;
  }

  .custom-media-object {
    width: 32px;
    height: 32px;
  }

  .color-msg-name {
    font-size: 12px;
  }

  .msg-time {
    font-size: 12px;
  }

  .input-search {
    font-size: 12px;
    width: 135px;
    height: 27px;
    margin-top: -26px;
    display: inherit;
    margin-left: 107px;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 5px;
  }

  .pos-block {
    margin-top: -30px;
  }

  .active_drop {
    padding: 0px;
  }

  .pos-margin-up {
    margin-top: -35px;
  }

  .active-drop-1 {
    padding: 15px;
    margin-top: -10px;
  }

  .width-mobile {
    width: 33.33333333333334%;
    text-align: center;
    margin-top: -5px;
  }

  .width-mobile h1 {
    font-size: 14px !important;
  }

  .width-mobile .block-flat {
    padding: 5px !important;
  }

  .width-mobile .count {
    float: none !important;
    padding: auto !important;
    margin: auto !important;
    display: block !important;
    font-size: 45px !important;
    margin: -10px auto 0px !important;
    color: black;
  }

  .width-mobile .details {
    float: none !important;
    bottom: 0px;
    margin-bottom: 7px;
    position: inherit;
    right: 0px;
  }

  .block-margin-bottom .header {
    padding-left: 12px !important;
    padding-bottom: 0px !important;
    border-radius: 3px !important;
    padding-top: 0px !important;
  }

  .block-margin-bottom .header h2 {
    font-size: 18px !important;
  }

  .recent-recipe .header {
    padding-bottom: 10px !important;
    border-radius: 3px !important;
    padding-top: 10px !important;
  }

  .recent-recipe .header h3 {
    font-size: 18px !important;
    margin-left: -7px !important;
  }

  .pos-margin-up .header {
    padding: 10px !important;
  }

  .recipe_list {
  }

  .recipe_list .img-pos {
    width: 100px !important;
    height: 100px;
  }

  .recipe_list .active-drop-1 {
    padding: 10px;
  }

  .recipe_list .recipes-block {
    margin-top: 5px !important;
    margin-left: 0px !important;
    padding: 0px !important;
    font-size: 12px !important;
  }

  .recipe_list .recipes-block h4 {
    margin-left: -6px;
    font-size: 14px;
  }

  .recipe_list .recipes-block p {
    font-size: 12px;
    line-height: 1.5em;
  }

  .pos-margin-up-1 {
    margin-top: -35px;
    margin-bottom: 43px;
  }

  .block-add-1 {
    padding: 1px;
    margin-top: 0px;
  }

  .block-add-2 {
    padding: 1px;
    margin-top: -9px;
  }

  .block-add-2 .block-flat {
    padding: 15px;
  }

  .block-add-2 .block-add-3 {
    padding: 0px;
    margin-top: -20px;
  }

  .new-meal-pos{
    margin-top: -9px;
  }

  .mobile-view-meal .block .header h3{
    font-size: 17px;
  }
  .heading-week{
    background-color: rgba(0,0,0,0.1);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 15px;
    color: white;
    margin-top: 0px;
  }
  .slot-custom{
    color: #F16E3F;
    font-size: 14px;
  }
}