.col-margin-padding{
	padding-left: 5px;
	padding-right: 5px;
}
.cl-mcont {
background-color: #F0F0F0;
color: inherit;
font-size: 13px;
font-weight: 200;
line-height: 21px;
padding: 5px;
margin-top: 5px;
}
.cl-vnavigation{
	margin-top:1px;
}
.sidebar-logo {
background: #476077;
padding: 15px 20px;
display: block;
height: 64px;
}
.cl-vnavigation .active > a {
background: #2A2C34;
border-left: 2px solid #476077;
}
.block.block-color .header {
border-radius: 0;
border: 0;
background: #272930;
color: #fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
background-color: #476077;
color: #fff;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-menu li > a:hover {
background-color: #476077;
background-image: none;
color: #FFF;
}
.content-box-height{
	height: 366px;
	overflow: scroll;
	overflow-x: hidden;
}
.content-1,.content-2{
	height: 230px;
	overflow: scroll;
	overflow-x: hidden;
}
/* custom scroll-bar */
.content-box-height::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.content-font{
	/*font-family: sans-serif;*/
	font-size: 13px;
}
.todo-position{
	margin-top: -20px;
	margin-left: 30px;
}

.content-box-height::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.content-box-height::-webkit-scrollbar-thumb
{
	background-color: #333333;
}
/* /custom scrool-bar */
.emergency-contacts-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.emergency-contacts-scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.emergency-contacts-scrollbar::-webkit-scrollbar-thumb
{
	background-color: #ea6153;
}
hr {
margin-top: 10px;
margin-bottom: 10px;
border: 0;
border-top: 1px solid #eee;
}
.comment-recipes{
	background-color: #F0F0F0;
	padding-top: 10px;
	padding-left: 10px;
	border-radius: 5px;
}
.margin-custom{
	margin-top: 5px;
}
.img-size{
	border: 1px solid #333333;
	float: left;
	clear: both;
	margin-right: 10px;
	margin-top: 6px;
}
.count{
	display: inline-block;
	margin-top: -56px;
	float: right;
}
.col-margin-padding a{
	color: white;
}
.details{
	position: absolute;
	bottom: 18px;
	right: 18px;
	/*margin-right: -18px;*/
}
.col-margin-padding a:hover{
	color: #dedede;
}
.block-flat{
	margin-bottom: 10px;
}
.block.block-color.primary .header {
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 6px;
	border-radius: 3px;
}
.content-block{
	min-height: 600px;
}
/*.block-flat{
	border-radius: none;
	position: relative;
	-webkit-border-radius:none;
	border: none;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
	transition: padding 500ms;
	-moz-transition: padding 500ms;
	-webkit-transition: padding 500ms;
}*/
.block-margin-bottom{
	margin-bottom: 0px !important;
}
.col-margin-padding .header{
	border-radius: 2px !important;
}
.nav-tabs > li > a {
	padding: 9px 15px;
	font-size: 13px;
	margin-right: 0;
	min-width: 80px;
	text-align: center;
	color: #7761a7;
}
.nav-tabs {
	border-bottom: 1px solid #ddd;
}
.search-icon{
	font-size: 1.8em;
	margin-left: -25px;
	margin-top: 5px;
}
.pos-input{
	margin-left: -15px;
}
.paper .external-event {
	margin: 0;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: transparent;
	color: black;
	font-size: .85em;
	cursor: pointer;
	display: inline-block;
}
/* */
@media (min-width: 1440px) and (max-width: 1565px) {
.content-font {
    font-size: 12px;
}
}
@media (min-width: 1200px) and (max-width: 1440px) {
.content-font {
    font-size: 12px;
}
.img-size {
    border: 1px solid #333;
    float: none;
    clear: both;
    margin-right: 10px;
    margin-top: 6px;
    display: inherit;
}
}
@media (min-width: 1200px) and (max-width: 1400px) {
.col-margin-padding .block .header h3 {
    font-size: 18px;
}
}
@media (min-width: 1200px) and (max-width: 1350px) {
.col-margin-padding .block-flat h1 {
    font-size: 30px;
}
.count {
    margin-top: -49px;
}
}
@media all and (max-width: 1200px) {
.col-margin-padding {
    padding-left: 1px;
    padding-right: 1px;
}
.cl-mcont .block .content {
    padding: 10px;
}
.cl-sidebar{
	width: 150px;
}
.img-size {
    border: 1px solid #333;
    float: none;
    clear: both;
    margin-right: 10px;
    margin-top: 6px;
    display: inherit;
}
.content-font {
    font-size: 12px;
}
.col-margin-padding .block-flat h1 {
    font-size: 25px;
}
.count {
    margin-top: -42px;
}
.col-margin-padding .block .header h3 {
    font-size: 15px;
}
}
@media all and (max-width: 993px) {
.cl-sidebar{
	width: 55px;
}
.col-margin-padding {
    padding-left: 2px;
    padding-right: 2px;
}
.cl-mcont .block .content {
    min-height: 110px;
}
}
@media all and (max-width: 767px) {
.cl-sidebar{
	width: 100%;
}
.col-margin-padding .block .header h1 {
	font-size: 30px;
}
.nav-tabs > li > a {
    padding: 9px 0px;
    font-size: 14px;
    min-width: 75px;
}
}
/* */
.aside-right .header{
	background-color: #3a3a3a !important;
}
.aside-right .header h3{
	color: #efefef !important;
}
.aside-right textarea{
	resize:vertical;
	min-height: 140px;
}
.date-todo{
	color: #b9b9b9 !important;
}
.todo-block{
	padding: 10px;
}
.todo-block:hover{
	background-color: #f5f5f5;
}
/* */
.caption-1{
	width: 100%;
	z-index: 500;
}
.caption-1 h3{
	color: white;
	border: none;
	text-shadow: none;
	margin-top: 40px;
	background-color: rgba(0,0,0,1);
	display: inline-block;
	margin-left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15%;
	padding-right: 15px;
}
.caption-1 h4{
	color: #333;
	border: none;
	text-shadow: none;
	margin-left: 15%;
}
.caption-1 h1{
	color: #333;
	border: none;
	text-shadow: none;
	margin-left: 15%;
	margin-top: 0px;
}
.caption-1 h1:hover{
	background-color: rgba(0,0,0,0.1);
}
.caption-1 p{
	color: #333;
	border: none;
	text-shadow: none;
	margin-left: 15%;
}
.des{
	margin-top: -10px;
}
.carousel-inner{
	height: 260px !important;
	background-color: #ffd479;
}
.ingredients h4{
	margin-left: -15px;
}
.ingredients{
	margin-left: 15%;
}
.ingredients-list{
	margin-left: -35px;
}
.ingredients-list p{
	margin-top: 10px;
	margin-left: 0;
}
.margin-15{
	margin-left: 15px;
}
.btn-pos-1{
	margin-left: -15px;
}
.img-pos {
	background-color: #dedede;
	width: 190px;
	height: 145px;
	margin-left: 0px;
	margin-right: 15px;
	float: left;
}

.recipes-block{
	margin-left: 15px;
}

.recipes-block h4{
	margin-top: -12px;
}
@media all and (max-width: 1200px) {
.recipes-block6{
	padding: 5px !important;
}
}
@media all and (max-width: 992px) {
.img-pos {
	width: 150px;
}
.carousel-inner {
	height: 200px !important;
}
.visible-d-p{
	display: none;
}
.visible-p{
	display: none;
}
}
@media all and (max-width: 768px) {
.img-pos {
	background-color: #dedede;
	width: 190px;
	height: 145px;
	margin-left: 0px;
	margin-right: 15px;
	float: none;
}
.recipes-block h4{
	margin-top: 0px;
}
.recipes-block{
	margin-top: 20px;
	margin-left: 0px;
	padding: 5px;
}
}

/* todo page */
.todo-list .nav-tabs li.active a{
	border-top: 2px solid #19b698 !important;
}
.icon-position{
	color: #cbcbcb;
}
.icon-position-c{
	color: #19b698;
}
.icon-position:hover,.icon-position-c:hover{
	cursor: pointer;
}
.completed-todos{
	background-color: rgba(25,182,152,0.2);
	border-radius: 5px;
}
.completed-todos .date-todo{
	color: #b9b9b9 !important;
}
.completed-todos:hover{
	background-color: rgba(25,182,152,0.3) !important;
}
.aside-right .select2-container-multi .select2-choices .select2-search-choice {
	background-color: #19b698 !important;
}
.aside-right .select2-container-multi .select2-choices {
	padding: 0px !important;
	background: #fff;
	box-shadow: none;
}
.aside-right .select2-drop-active {
	border: 1px solid #19b698 !important;
}
.select2-results .select2-highlighted {
	background: none repeat scroll 0 0 #19b698 !important;
}
.select2-drop.select2-drop-above.select2-drop-active {
	border-top: 1px solid #19b698 !important;
}
.select2-drop-active {
	border-bottom: 1px solid #19b698 !important;
	border-left: 1px solid #19b698 !important;
	border-right: 1px solid #19b698 !important;
}
.select2-container-multi.select2-container-active .select2-choices {
	border: 1px solid #19b698 !important;
}
.select2-result-selectable .select2-match, .select2-result-unselectable .select2-match {
	text-decoration: none !important;
}
@media all and (max-width: 1200px) {
.block .header h3 {
	font-size: 22px;
}
}
@media all and (max-width: 992px) {
}
@media all and (max-width: 767px) {
.aside-right{
	padding-left: 0px;
	padding-right: 0px;
}
.todo-list{
	padding-left: 0px;
	padding-right: 0px;
}
}
/* //todo page  */

/* calender page */
.cal-block {
    padding-left: 10px;
    padding-right: 15px;
    margin-left: 5px;
    margin-right: 0px;
}
.cal-block1 {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -15px;
    margin-right: 0px;
}
@media all and (max-width: 991px) {
.cal-block1 {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0px;
    margin-right: 0px;
}
}
@media all and (max-width: 768px) {
.fc-header .fc-header-left, .fc-header .fc-header-center, .fc-header .fc-header-right {
    text-align: center;
    display: inline;
    padding: 20px;
}
}
@media all and (max-width: 620px) {
.fc-header .fc-header-left, .fc-header .fc-header-center, .fc-header .fc-header-right {
    text-align: center;
    display: inline-block;
    padding-bottom: 10px !important;
    padding-top: 0px !important;
    padding-left: 17px !important;
    padding-right: 0px !important;

}
}
@media all and (max-width: 355px) {
.fc-header .fc-header-left, .fc-header .fc-header-center, .fc-header .fc-header-right {
    text-align: left;
    display: block;
    padding-left: 0px !important;
    margin-bottom: 20px;
}
.fc-header-title h2 {
    margin-left: -10px;
}
.fc .fc-header-space {
    padding-left: 2px;
}
}
/* //calender page */


/* Message_board */
.cl-mcont .block .msg-block {
	padding: 5px !important;
}
.msg-block .media{
	padding: 15px !important;
	margin-top: 0px;
	border-bottom: 1px solid #ebebeb;
}
.msg-block .media:last-child{
	padding: 15px !important;
	margin-top: 0px;
	border-bottom: 0px solid #ebebeb;
}
.msg-block .media .media-body .media-heading{
	color: #4aa3df;
}
.msg-block .media .media-body .media-heading:hover{
	text-decoration: underline;
	cursor: pointer;
}
.msg-block .media:hover{
	background-color: #f5f5f5;
}
.msg-time{
	color: #cbcbcb;
}
.msg-block .nav-tabs li.active a {
	border-top: 2px solid #4aa3df !important;
}
.msg-block .tab-content {
	padding: 0px;
}
.msg-active{
	background-color: #fafafa;
	border-bottom: 1px solid #ebebeb;
}
.fa-envelope-unread{
	color: #4aa3df;
}
.fa-envelope-read{
	color: #cbcbcb;
}
/* Message_board */


/* shopping list */
.shopping-list .block-flat .header{
	background-color:white;
	margin: -20px -20px 0px -20px;
	padding: 10px;
	padding-top: 20px;
	padding-left: 20px;
	color: black !important;
}
.fa-color-black{
	color: black;
}
.shopping-list .table > thead > tr > th {
    border-bottom: 1px solid #DDD !important;
}
/* //shopping-list */

/* file upload */
.file-upload .table > thead > tr > th {
    border-bottom: 1px solid #DDD !important;
}
.file-upload h3{
}
.file-upload h4{
	position: absolute;
	top: 18px;
	right: 20px;
}
.file-upload .add-file{
	color: #0096ff;
	cursor: pointer;
}
.btn-pos{
	position: absolute;
	top: 8px;
	right: 30px;
}
.btn-file{
	color: #0096ff;
	cursor: pointer;
	font-size: 18px;
}
.btn-file:hover{
	color: #0064cd;
}
.file-upload .header{
	background-color: white;
	margin: -20px -20px 0px -20px;
	padding: 10px;
	padding-top: 20px;
	padding-left: 20px;
	color: black !important;
}
.file-upload .btn{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	border: none;
}
.file-upload .add-file:hover{
	color: #0064cd;
}
.office-img{
	width: 18px;
}
.model-custom .modal-header{
	background-color:#efefef;
	border-radius: 5px 5px 0 0;
	padding-top: 28px;
	height: 79px;
}
.model-custom .modal-footer{
	background-color: #efefef;
}
.file-upload ol li{
	margin-left: -27px;
}
.delete-item {
    font-size: 20px;
    color: red;
}
.cell-3{
	width: 72%;
}
@media (min-width: 768px) and (max-width: 840px) {
.cell-3{
	width: 67%;
}
}
/* //file upload */

/* tag */
.add-tag{
	position: absolute;
	top: 27px;
	right: 40px;
	color: #0096ff;
	cursor: pointer;
	font-size: 18px;
}
.add-tag i{
	font-size: 14px !important;
}
.tag table tr td{
	vertical-align: middle !important;
}
.tag table tr td .input-group{
	margin-bottom: 0px !important;
}
.tag table tr td .btn{
	margin-left: 0px;
}
.tag .color-left-padding{
	padding-left: 0px !important;
	-moz-padding-start: 1px !important;
}
.tag-color-xs{
	display: inline-block;
    margin-top: 15px;
}
.tag-color-input-xs{
	width: 136px;
    margin-top: -26px;
    margin-left: 56px;
}
@media all and (max-width: 768px) {
.width-color-field{
	width: 150px;
}
}

/* //tag */

/* Event page */

.etable-th-1{
	width:11%;
}
.etable-th-2{
	width:15%;
}
.etable-th-3{
	width:50%;
}
.ol-margin-left{
	margin-left: -24px;
}
@media all and (max-width: 992px) {
.etable-th-1{
	width:11%;
}
.etable-th-2{
	width:17%;
}
.etable-th-3{
	width:42%;
}
}
/* //Event page */

/*add Recipes*/
.form-ingredients .select2-container .select2-choice > .select2-chosen {
	color: #555555;
}
.form-Quantity input::-webkit-input-placeholder {
      color: #555555;
}
.form-Measure input::-webkit-input-placeholder {
      color: #555555;
}
.form-Measure ul .active{
	background-color: #dddddd !important;
}
.form-Measure .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background: #8d8d8d;
}
.form-Measure .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-menu li > a:hover {
	background-color: #8d8d8d;
}
/* //add Recipes */