<div class="col-lg-12 col-margin-padding">
  <div class="block block-color danger">
      <div class="header">              
        <div class="actions">
        </div>
        <h3>Critical Information</h3>
      </div>
      <div class="content">
        <i class="fa fa-location-arrow"></i>
        <div class="todo-position">
          dont forgot to give milk to michal at 10am
        </div>
        <br>
        <i class="fa fa-location-arrow"></i>
        <div class="todo-position">
          drop rechal at school at 11am
        </div>
      </div>
  </div>
</div>