<div class="cl-mcont">
  
  <div class="clearfix">

    <!-- ******************************** -->

    <!-- emergency contacts + critical information ( mobile view ) -->
    <div class="col-sm-12 col-xs-12 col-margin-padding">
      <!-- emergency contacts ( sm-view )-->
      <div class="col-sm-6 col-margin-padding visible-sm">
        <div class="fnemergency-contact">/</div>
      </div>
      <!-- //emergency contacts ( sm-view ) -->
      <!-- ******************************** -->
      <!-- critical information ( sm-view ) -->
      <div class="col-sm-6 col-margin-padding visible-sm">
        <div class="fncritical-information">/</div>
      </div>
      <!-- //critical information ( sm-view ) -->
      <!-- ******************************** -->
      <!-- emergency contacts ( xs-view ) -->
      <div class="col-xs-12 col-margin-padding visible-xs">
        <div class="fnemergency-contact">/</div>
      </div>
      <!-- //emergency contacts ( xs-view ) -->
      <!-- ******************************** -->
      <!-- critical information ( xs-view ) -->
      <div class="col-xs-12 col-margin-padding visible-xs">
        <div class="fncritical-information">/</div>
      </div>
      <!-- //critical information ( xs-view ) -->
    </div>
    <!-- //emergency contacts + critical information ( mobile view ) -->

    <!-- ******************************** -->
    
    <!-- section (messages + events + todo's + today's meals) -->
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 col-margin-padding">

      <!-- messages -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-margin-padding">
        <div class="block-flat info-box">
          <h1>Messages</h1>
          <h1 class="count">{{messages.length}}</h1>
          <a class="details pull-right" href="#/message">Details <span><i class="fa fa-arrow-circle-right"></i></span></a>
          <br>
        </div>
      </div>
      <!-- //messages -->

      <!-- ******************************** -->

      <!-- events -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-margin-padding">
        <div class="block-flat warning-box">
          <h1>Events</h1>
          <h1 class="count">{{events.length}}</h1>
          <a class="details pull-right" href="#">Details <span><i class="fa fa-arrow-circle-right"></i></span></a>
          <br>
        </div>
      </div>
      <!-- //events -->

      <!-- ******************************** -->

      <!-- todo's -->
      <div class="col-lg-4 col-margin-padding">
        <div class="block-flat success-box">
          <h1>Todo's</h1>
          <h1 class="count">{{todos.length}}</h1>
          <a class="details pull-right" href="#/todos">Details <span><i class="fa fa-arrow-circle-right"></i></span></a>
          <br>
        </div>
      </div>
      <!-- //todo's -->

      <!-- ******************************** -->

      <!-- today's meals -->        
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-margin-padding">
        <div class="block block-color primary block-margin-bottom">
          <div class="header">
            <h1>Today's Meals</h1>
          </div>
          <div class="content content-block">
            <div class="tab-container">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">Breakfast</a></li>
                <li class=""><a href="#profile" data-toggle="tab">Lunch</a></li>
                <li class=""><a href="#messages" data-toggle="tab">Dinner</a></li>
              </ul>
              <div class="tab-content">
                <!-- Breakfast -->
                <div class="tab-pane cont active" id="home">
                  <i class="fa fa-chevron-right"></i>
                  <div class="todo-position">
                    <label class="label-color">meal name</label>&nbsp;:&nbsp; Pizza
                    <br>
                    <label>ingredients </label>&nbsp;:&nbsp;Olive oil,Cornmeal (to slide the pizza onto the pizza stone),Tomato sauce (purée),Mozzarella or Parmesan cheese, shredded,Feta cheese,Mushrooms, thinly sliced,Bell peppers, stems and seeds removed, thinly sliced,Italian sausage, cooked ahead,Chopped fresh basil,Pesto,Pepperoni, thinly sliced,Onions, thinly sliced,Sliced ham,
                    <br>
                    <label>description </label>&nbsp;:&nbsp; ....
                    <br>
                  </div>
                  <hr>
                  <i class="fa fa-chevron-right"></i>
                  <div class="todo-position">
                    <label class="label-color">meal name</label>&nbsp;:&nbsp; Pizza
                    <br>
                    <label>ingredients </label>&nbsp;:&nbsp;Olive oil,Cornmeal (to slide the pizza onto the pizza stone),Tomato sauce (purée),Mozzarella or Parmesan cheese, shredded,Feta cheese,Mushrooms, thinly sliced,Bell peppers, stems and seeds removed, thinly sliced,Italian sausage, cooked ahead,Chopped fresh basil,Pesto,Pepperoni, thinly sliced,Onions, thinly sliced,Sliced ham,
                    <br>
                    <label>description </label>&nbsp;:&nbsp; 
                    <br>
                  </div>
                  <hr>
                  <i class="fa fa-chevron-right"></i>
                  <div class="todo-position">
                    <label class="label-color">meal name</label>&nbsp;:&nbsp; Pizza
                    <br>
                    <label>ingredients </label>&nbsp;:&nbsp;Olive oil,Cornmeal (to slide the pizza onto the pizza stone),Tomato sauce (purée),Mozzarella or Parmesan cheese, shredded,Feta cheese,Mushrooms, thinly sliced,Bell peppers, stems and seeds removed, thinly sliced,Italian sausage, cooked ahead,Chopped fresh basil,Pesto,Pepperoni, thinly sliced,Onions, thinly sliced,Sliced ham,
                    <br>
                    <label>description </label>&nbsp;:&nbsp; ....
                    <br>
                  </div>
                </div>
                <!-- //Breakfast -->

                <!-- ************************ -->
                
                <!-- lunch -->
                <div class="tab-pane cont" id="profile">
                  <i class="fa fa-chevron-right"></i>
                  <div class="todo-position">
                    <label class="label-color">meal name</label>&nbsp;:&nbsp; Pizza
                    <br>
                    <label>ingredients </label>&nbsp;:&nbsp;Olive oil,Cornmeal (to slide the pizza onto the pizza stone),Tomato sauce (purée),Mozzarella or Parmesan cheese, shredded,Feta cheese,Mushrooms, thinly sliced,Bell peppers, stems and seeds removed, thinly sliced,Italian sausage, cooked ahead,Chopped fresh basil,Pesto,Pepperoni, thinly sliced,Onions, thinly sliced,Sliced ham,
                    <br>
                    <label>description </label>&nbsp;:&nbsp; 
                    <br>
                  </div>
                  <hr>
                  <i class="fa fa-chevron-right"></i>
                  <div class="todo-position">
                    <label class="label-color">meal name</label>&nbsp;:&nbsp; Pizza
                    <br>
                    <label>ingredients </label>&nbsp;:&nbsp;Olive oil,Cornmeal (to slide the pizza onto the pizza stone),Tomato sauce (purée),Mozzarella or Parmesan cheese, shredded,Feta cheese,Mushrooms, thinly sliced,Bell peppers, stems and seeds removed, thinly sliced,Italian sausage, cooked ahead,Chopped fresh basil,Pesto,Pepperoni, thinly sliced,Onions, thinly sliced,Sliced ham,
                    <br>
                    <label>description </label>&nbsp;:&nbsp; ....
                    <br>
                  </div>
                  <hr>
                  <i class="fa fa-chevron-right"></i>
                  <div class="todo-position">
                    <label class="label-color">meal name</label>&nbsp;:&nbsp; Pizza
                    <br>
                    <label>ingredients </label>&nbsp;:&nbsp;Olive oil,Cornmeal (to slide the pizza onto the pizza stone),Tomato sauce (purée),Mozzarella or Parmesan cheese, shredded,Feta cheese,Mushrooms, thinly sliced,Bell peppers, stems and seeds removed, thinly sliced,Italian sausage, cooked ahead,Chopped fresh basil,Pesto,Pepperoni, thinly sliced,Onions, thinly sliced,Sliced ham,
                    <br>
                    <label>description </label>&nbsp;:&nbsp; 
                    <br>
                  </div>
                </div>
                <!-- //lunch -->

                <!-- ************************ -->

                <!-- dinner -->
                <div class="tab-pane" id="messages">      
                  <i class="fa fa-chevron-right"></i>
                  <div class="todo-position">
                    <label class="label-color">meal name</label>&nbsp;:&nbsp; Pizza
                    <br>
                    <label>ingredients </label>&nbsp;:&nbsp;Olive oil,Cornmeal (to slide the pizza onto the pizza stone),Tomato sauce (purée),Mozzarella or Parmesan cheese, shredded,Feta cheese,Mushrooms, thinly sliced,Bell peppers, stems and seeds removed, thinly sliced,Italian sausage, cooked ahead,Chopped fresh basil,Pesto,Pepperoni, thinly sliced,Onions, thinly sliced,Sliced ham,
                    <br>
                    <label>description </label>&nbsp;:&nbsp; 
                    <br>
                  </div>
                  <hr>
                  <i class="fa fa-chevron-right"></i>
                  <div class="todo-position">
                    <label class="label-color">meal name</label>&nbsp;:&nbsp; Pizza
                    <br>
                    <label>ingredients </label>&nbsp;:&nbsp;Olive oil,Cornmeal (to slide the pizza onto the pizza stone),Tomato sauce (purée),Mozzarella or Parmesan cheese, shredded,Feta cheese,Mushrooms, thinly sliced,Bell peppers, stems and seeds removed, thinly sliced,Italian sausage, cooked ahead,Chopped fresh basil,Pesto,Pepperoni, thinly sliced,Onions, thinly sliced,Sliced ham,
                    <br>
                    <label>description </label>&nbsp;:&nbsp; ....
                    <br>
                  </div>
                </div>
                <!-- //dinner -->
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- //section (messages + event + todo's + today's meals) -->

    <!-- ******************************** -->

    <!-- section (emergency contacts + critical information + household members) -->
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-margin-padding">

      <!-- emergency contacts -->
      <div class="col-lg-12 col-xs-12 col-margin-padding hidden-sm hidden-xs">
        <div class="fnemergency-contact">/</div>
      </div>
      <!-- //emergency contacts -->

      <!-- ******************************** -->

      <!-- critical information -->
      <div class="col-lg-12 col-xs-12 col-margin-padding hidden-sm hidden-xs">
        <div class="fncritical-information">/</div>
      </div>
      <!-- //critical information -->

      <!-- ******************************** -->

      <!-- household members -->
        <div class="fnhousehold-members">/</div>
      <!-- household members -->
      </div>
  </div>
</div>