<div class="block block-color danger">
  <div class="header">
    <div class="actions">
    </div>
    <h3>Emergency Contacts</h3>
  </div>
  <div class="content-1 emergency-contacts-scrollbar">
    <div class="content" ng-repeat="contact in emergencycontacts">
      <label>{{contact.relation}}</label>
      <br/>
      <label>Name</label>:&nbsp;{{contact.name}}
      <br/>
      <label>Phone</label>:&nbsp;{{contact.contact_number}}
      <br/>
      <label>Email</label>:&nbsp;{{contact.contact_email}}
    </div>
  </div>
</div>