<div class="col-lg-12 col-margin-padding">
  <div class="block block-color danger">
    <div class="header">              
      <div class="actions">
      </div>
      <h3>Emergency Contacts</h3>
    </div>
    <div class="content" ng-repeat="contact in emergencycontacts">
      <label>{{contact.relation}}</label>
      <br/>
      <label>Name</label>:&nbsp;{{contact.name}}
      <br/>
      <lable>Phone</label>:&nbsp;{{contact.contact_number}}
      <lable>Email</label>:&nbsp;{{contact.contact_email}}
    </div>
  </div>
</div>