<div class="cl-mcont">    
  <div class="row">
    <div class="col-lg-9 col-md-8 cal-block">
      <div class="block block-color">
        <div class="header">							
          <h3>Calendar</h3>
        </div>
        <div class="content">
          <div id='calendar'></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 cal-block1">
      <div class="block block-color">
        <div class="header">              
          <h3>Favorite Recipes</h3>
        </div>
        <div class="content">
          <div class="clearfix">


            <!--  -->
            <div class="row">
                <div class="col-sm-12 form-ingredients">
                  <select class="select2">
                      <option value='' disabled selected style='display:none;'>Select Recipe</option>
                       <option value="pizza">pizza</option>
                       <option value="pasata">pasata</option>
                       <option value="omlet">omlet</option>
                       <option value="sandwitch">sandwitch</option>
                  </select>
                </div>
              </div>
              <br>
                <!--  -->



              <div class="col-xs-11">
                <input type="search" class="form-control pos-input" placeholder="Search Recipes">
              </div>
              <i class="fa fa-search fa-2x search-icon"></i>
            </div>
          <br>
          <div id='external-events'>
            <div class='external-event'>Recipes-1</div>
            <div class='external-event'>Recipes-2</div>
            <div class='external-event'>Recipes-3</div>
            <div class='external-event'>Recipes-4</div>
            <div class='external-event'>Recipes-5</div>
            <br><br>
            <p>
              <input type='checkbox' id='drop-remove' /> <label for='drop-remove'>remove after drop</label>
            </p>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="block block-color">
        <div class="header">              
          <h3>Events</h3>
        </div>
        <div class="content">
          <div id='external-events'>
            <div class='external-event'>event-1</div>
            <div class='external-event'>event-2</div>
            <div class='external-event'>event-3</div>
            <div class='external-event'>event-4</div>
            <div class='external-event'>event-5</div>
            <br><br>
            <p>
              <input type='checkbox' id='drop-remove' /> <label for='drop-remove'>remove after drop</label>
            </p>
          </div>
        </div>
      </div>
      <!--  -->
      <!--  -->
      <div class="block block-color">
        <div class="header">
          <h3>todos</h3>
        </div>
        <div class="content">
          <div id='external-events'>
            <div class='external-event'>todo-1</div>
            <div class='external-event'>todo-2</div>
            <div class='external-event'>todo-3</div>
            <div class='external-event'>todo-4</div>
            <div class='external-event'>todo-5</div>
            <br><br>
            <p>
              <input type='checkbox' id='drop-remove' /> <label for='drop-remove'>remove after drop</label>
            </p>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="block widget-notes">
        <div class="header dark"><h3>Todo's</h3></div>
        <div class="content">
          <div class="paper" contenteditable="true">
            <div id='external-events'>
            <div class='external-event'>todo-1</div><br>
            <div class='external-event'><s>todo-2</s></div><br>
            <div class='external-event'>todo-3</div><br>
            <div class='external-event'><s>todo-4</s></div><br>
            <div class='external-event'>todo-5</div>
            <p>
              <input type='checkbox' id='drop-remove' /> <label for='drop-remove'>remove after drop</label>
            </p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>