<div class="cl-mcont file-upload">
  <br>
  <!--  -->
  <div class="col-lg-1"></div>
  <!--  -->
  <div class="col-lg-10 hidden-xs">
    <!--  -->
    <div class="block-flat">
      <div class="header">
        <div class="actions">
          <!-- <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a>
          <a class="refresh" href="#"><i class="fa fa-repeat"></i></a>
          <a class="close-down" href="#"><i class="fa fa-times"></i></a> -->
        </div>
        <h3><i class="fa fa-file-text fa-color-black"></i>&nbsp;Documents</h3>
        <!--  -->
        <div class="btn-pos">
          <div class="form-group">
            <div class="">
              <div class="fileinput fileinput-new" data-provides="fileinput">
                <span class="btn btn-file">
                  <i class="fa fa-plus"></i>&nbsp;Add file
                  <!-- <span class="fileinput-new">Select file</span> -->
                  <input type="file" name="...">
                </span>
                <span class="fileinput-filename"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
      </div>
      <div class="content">
        <!--  -->
          <div class="table-responsive">
          <table class="table no-border hover">
            <thead class="no-border">
              <tr>
                <th class="cell-1"><strong></strong></th>
                <th class="cell-2"><strong>File Name</strong></th>
                <th class="cell-3"><strong>Description</strong></th>
                <th class="text-center"><strong>Action</strong></th>
              </tr>
            </thead>
            <tbody class="no-border-y">
              <tr>
                <td class="cell-1"><img src="images/office-icon/Word.png" class="office-img"></td>
                <td class="cell-2">hello.doc</td>
                <td class="cell-3">This is file contain all the detail of household member.This is file contain all the detail of household member.</td>
                <td class="text-center">
                   <!--  -->
                    <span data-placement="left" data-toggle="tooltip" data-original-title="Edit">
                      <a class="label label-success" href="#" data-toggle="modal" data-target="#md-colored"><i class="fa fa-pencil"></i></a>
                    </span>
                    <!--  -->
                    <span data-placement="right" data-toggle="tooltip" data-original-title="Delete">
                      <a class="label label-danger" href="#" data-toggle="modal" data-target="#md-colored1"><i class="fa fa-times"></i></a>
                    </span>
                    <!--  -->
                </td>
              </tr>
              <tr>
                <td class="cell-1"><img src="images/office-icon/Excel.png" class="office-img"></td>
                <td class="cell-2">hello.xlsx</td>
                <td class="cell-3">This is file contain all the detail of household member.</td>
                <td class="text-center">
                   <!--  -->
                    <span data-placement="left" data-toggle="tooltip" data-original-title="Edit">
                      <a class="label label-success" href="#" data-toggle="modal" data-target="#md-colored"><i class="fa fa-pencil"></i></a>
                    </span>
                    <!--  -->
                    <span data-placement="right" data-toggle="tooltip" data-original-title="Delete">
                      <a class="label label-danger" href="#" data-toggle="modal" data-target="#md-colored1"><i class="fa fa-times"></i></a>
                    </span>
                    <!--  -->
                </td>
              </tr>
              <tr>
                <td class="cell-1"><img src="images/office-icon/PowerPoint.png" class="office-img"></td>
                <td class="cell-2">hello.ppt</td>
                <td class="cell-3">This is file contain all the detail of household member.</td>
                <td class="text-center">
                   <!--  -->
                    <span data-placement="left" data-toggle="tooltip" data-original-title="Edit">
                      <a class="label label-success" href="#" data-toggle="modal" data-target="#md-colored"><i class="fa fa-pencil"></i></a>
                    </span>
                    <!--  -->
                    <span data-placement="right" data-toggle="tooltip" data-original-title="Delete">
                      <a class="label label-danger" href="#" data-toggle="modal" data-target="#md-colored1"><i class="fa fa-times"></i></a>
                    </span>
                    <!--  -->
                </td>
              </tr>
            </tbody>
          </table>    
          </div>
        <!--  -->
      </div>
    </div>
    <!--  -->
  </div>
  <!--  -->
  <div class="visible-xs">
    <div class="block-flat">
      <div class="header">
        <h3>Documents</h3>
      </div>
      <div class="content">
        <ol>
          <li>
            <div>
              <span><strong>File Name&nbsp;:&nbsp;</strong></span><span>hello.doc</span><br>
              <span><strong>Type&nbsp;:&nbsp;</strong></span><span>Word File</span><br>
              <span><strong>Description&nbsp;:&nbsp;</strong></span><span>This is file contain all the detail of household member.</span><br>
              <span><strong>Size&nbsp;:&nbsp;</strong></span><span>10kb</span><br>
              <span><strong>Modified Date&nbsp;:&nbsp;</strong></span><span>23/2/2012 10:00:00 AM</span><br>
              <span><strong>Action&nbsp;:&nbsp;</strong></span>
              <a class="label label-success" href="#" data-toggle="modal" data-target="#md-colored"><i class="fa fa-pencil"></i></a>
              <a class="label label-danger" href="#"><i class="fa fa-times"></i></a>
            </div>
            <hr>
          </li>
          <!--  -->
          <li>
            <!--  -->
            <div>
              <span><strong>File Name&nbsp;:&nbsp;</strong></span><span>hello.xlsx</span><br>
              <span><strong>Type&nbsp;:&nbsp;</strong></span><span>Excel File</span><br>
              <span><strong>Description&nbsp;:&nbsp;</strong></span><span>This is file contain all the detail of household member.</span><br>
              <span><strong>Size&nbsp;:&nbsp;</strong></span><span>10kb</span><br>
              <span><strong>Modified Date&nbsp;:&nbsp;</strong></span><span>23/2/2012 10:00:00 AM</span><br>
              <span><strong>Action&nbsp;:&nbsp;</strong></span>
              <a class="label label-success" href="#"><i class="fa fa-pencil"></i></a>
              <a class="label label-danger" href="#"><i class="fa fa-times"></i></a>
            </div>
            <hr>
            <!--  -->
          </li>
          <!--  -->
          <li>
            <div>
              <span><strong>File Name&nbsp;:&nbsp;</strong></span><span>hello.ppt</span><br>
              <span><strong>Type&nbsp;:&nbsp;</strong></span><span>PowerPoint File</span><br>
              <span><strong>Description&nbsp;:&nbsp;</strong></span><span>This is file contain all the detail of household member.</span><br>
              <span><strong>Size&nbsp;:&nbsp;</strong></span><span>10kb</span><br>
              <span><strong>Modified Date&nbsp;:&nbsp;</strong></span><span>23/2/2012 10:00:00 AM</span><br>
              <span><strong>Action&nbsp;:&nbsp;</strong></span>
              <a class="label label-success" href="#"><i class="fa fa-pencil"></i></a>
              <a class="label label-danger" href="#"><i class="fa fa-times"></i></a>
            </div>
            <hr>
            <!--  -->
          </li>
        </ol>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="clearfix model-custom">
    <!-- Modal -->
    <div class="modal fade" id="md-colored" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
          <h3>Edit Document</h3>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <!--  -->
          <div class="form">
            <div class="form-group">
              <label>File Name</label>
              <input type="text" class="form-control" placeholder="File Name">
            </div>
            <!--  -->
            <div class="form-group">
              <label>Description</label>
              <input type="text" class="form-control" placeholder="File Description">
            </div>
            <!--  -->
          </div>
          <!--  -->
          <!-- <div class="text-center">
            <div class="i-circle success"><i class="fa fa-check"></i></div>
            <h4>Awesome!</h4>
            <p>Can you say supercalifragilisticoexpialidoso? </p>
          </div> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success btn-flat" data-dismiss="modal">Done</button>
        </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal --> 
  </div>
  <!--  -->
  <!--  -->
  <div class="clearfix model-custom">
    <!-- Modal -->
    <div class="modal fade" id="md-colored1" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
          <h3>Delete Document</h3>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body text-center">
          <!--  -->
          <i class="fa fa-trash-o fa-4x" style="color: red;"></i><br>
          <span class="delete-item">Are you Sure !!<br>you want to Delete this Document ??</span>
          <!--  -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal">Delete</button>
        </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal --> 
  </div>
  <!--  -->
</div>