<div class="cl-mcont">

<div class="row user-margin">
    <div class="col-lg-12">
    <!--  -->
    <div class="block-flat clearfix user">
        <div class="header">
            <div class="actions ">
                <span class="edit_profile"><i class="fa fa-pencil-square-o fa-2x hidden-xs"></i><a href="/#/edit_profile">Edit Profile</a></span>
            </div>
            <!--  -->
            <h3><a href="">John Smith</a></h3>
            <!--  -->
            <!-- <div class="visible-xs">
                <span class="edit_profile"><a href="edit_profile.html">Edit Profile</a></span>
            </div> -->
        </div>
        <div class="content">
            <span><img class="user-image" src="../600px-1000px-Ashoka_Chakra.svg.png"></span>
            <div class="visible-xs"><br></div>
            <div class="user-profile">
                <div class="user-profile hidden-xs">
                    <span class="user-title2">Role</span><span>admin</span><br>
                    <span class="user-title3">Email</span><span>John@gmail.com</span><br>
                    <span class="user-title8">Birthdate</span><span>11/11/1985</span><br>
                    <span class="user-title4">Home No</span><span>1234567890</span><br>
                    <span class="user-title5">Work No</span><span>1234567890</span><br>
                    <span class="user-title6">Mobile No</span><span>1234567890</span><br>
                    <span class="user-title7">Address</span><div class="user-address">Housename<br>street<br>city<br>state<br>country&nbsp;-&nbsp;zip</div>
                </div>
                <!--  -->
                <div class="user-profile visible-xs">
                    <span class="user-title2">Role</span><span>admin</span><br>
                    <span class="user-title3">Email</span><span>John@gmail.com</span><br>
                    <span class="user-title8">Birthdate</span><span>11/11/1985</span><br>
                    <span class="user-title4">Home No</span><span>1234567890</span><br>
                    <span class="user-title5">Work No</span><span>1234567890</span><br>
                    <span class="user-title6">Mobile No</span><span>1234567890</span><br>
                    <span class="user-title7">Address</span><div class="user-address">Housename<br>street<br>city<br>state<br>country&nbsp;-&nbsp;zip</div><br>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
</div>
</div>

</div>