<div class="cl-mcont">
        <div class="col-lg-1 visible-lg"></div>
    <!--  -->
     <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 aside-right visible-xs">
      <div class="block block-color aside-right">
        <div class="header">    
          <div class="actions">
            <!-- <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a>
            <a class="refresh" href="#"><i class="fa fa-repeat"></i></a>
            <a class="close-down" href="#"><i class="fa fa-times"></i></a> -->
          </div>
          <h3>Add New Message</h3>
        </div>
          <div class="content">
             <form class="form-horizontal group-border-dashed" action="#" style="border-radius: 0px;">
              <input type="text" class="form-control" placeholder="Name">
              <br>
              <textarea class="form-control" placeholder="Todo Description"></textarea>
              <br>
              <button type="button" class="btn btn-success">Add</button>
            </form>
          </div>
      </div>
    </div>
    <!--  -->
    <div class="col-lg-7 col-md-8 col-sm-8 col-xs-12 todo-list">
      <div class="block block-color info">
        <div class="header">        
          <div class="actions">
            <!-- <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a> -->
            <a class="refresh" href="#"><i class="fa fa-repeat"></i></a>
            <!-- <a class="close-down" href="#"><i class="fa fa-times"></i></a> -->
          </div>
          <h3>Messages</h3>
        </div>
        <div class="content msg-block">
            <div class="content">
              <div class="tab-container">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#received" data-toggle="tab">Received</a></li>
                  <li class=""><a href="#Sent" data-toggle="tab">Sent</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="received">
                    <!--  -->
                    <div class="media" ng-repeat="message in receivedMessages">
                      <a class="pull-left" href="#">
                        <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
                      </a>
                      <div class="media-body">
                        <h5 class="media-heading">{{message.sender.name}}</h5>
                        <div>
                            <span ng-class="{'fa-envelope-read': message.is_read, 'fa-envelope-unread' : !message.is_read}">
                              <i class="fa fa-envelope"></i>
                            </span>
                            {{message.message}}  
                        </div>
                        
                        <div class="">
                          <span class="msg-time">Date :{{message.created_at}}</span>
                        </div>
                      </div>
                    </div>
                    <!--  -->
                  </div>
                  <div class="tab-pane cont" id="Sent">
                    <!--  -->
                    <div class="media" ng-repeat="message in sentMessages">
                      <a class="pull-left" href="#">
                        <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
                      </a>
                      <div class="media-body">
                        <h5 class="media-heading">{{message.receiver.name}}</h5>
                        <div>
                            <i class="fa fa-reply"></i>&nbsp;{{message.message}}
                        </div>
                        <div class="">
                          <span class="msg-time">Date :{{message.created_at}}</span>
                        </div>
                      </div>
                    </div>
                <!--  -->
                <!--  -->
                  </div>
                </div>
              </div>
              <!--  -->
            </div>
            
                
        </div>
      </div>
    </div>
    <!--  -->
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 aside-right hidden-xs">
      <div class="block block-color aside-right">
        <div class="header">    
          <div class="actions">
            <!-- <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a>
            <a class="refresh" href="#"><i class="fa fa-repeat"></i></a>
            <a class="close-down" href="#"><i class="fa fa-times"></i></a> -->
          </div>
          <h3>Add New Message</h3>
        </div>
          <div class="content">

             <form class="form-horizontal group-border-dashed" action="#" style="border-radius: 0px;">

              <!-- <input type="text" class="form-control" placeholder="Name">
              <br> -->
              <input class="tags" type="hidden" value="" placeholder="Name" />
              <br>
              <br>
              <textarea class="form-control" placeholder="Message Description"></textarea>
              <br>
              <button type="button" class="btn btn-info">Add</button>
              <br>
    
            </form>

          </div>
      </div>
    </div>
    <!-- <div class="aside-right"></div> -->
     </div>