<div class="cl-mcont file-upload">
  <br>
  <!--  -->
  <div class="col-lg-1"></div>
  <!--  -->
  <div class="col-lg-10 hidden-xs">
    <!--  -->
    <div class="block-flat">
      <div class="header">
        <div class="actions">
          <!-- <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a>
          <a class="refresh" href="#"><i class="fa fa-repeat"></i></a>
          <a class="close-down" href="#"><i class="fa fa-times"></i></a> -->
        </div>
        <h3><i class="fa fa-tag fa-color-black"></i>&nbsp;Tags</h3>
        <spam class="add-tag" data-toggle="modal" data-target="#md-colored3"><i class="fa fa-plus"></i>&nbsp;Add Tag</spam>
      </div>
      <div class="content tag">
        <!--  -->
          <div class="table-responsive">
          <table class="table no-border hover">
            <thead class="no-border">
              <tr>
                <th class="" style="width: 50%"><strong>Tag Name</strong></th>
                <th class="text-center" style="width: 50%"><strong>Action</strong></th>
              </tr>
            </thead>
            <tbody class="no-border-y" ng-repeat="tag in data.tags" >
              <tr>

                <td class="">
                    <span class="tag-color" style="background-color:{{tag.color}}">
                      &nbsp;{{tag.name}}&nbsp;
                    </span>
                </td>
                
                <td class="text-center">
                   <!--  -->
                    <span data-placement="left" data-toggle="tooltip" data-original-title="Edit">
                      <a class="label label-success" href="#" target="_self" data-toggle="modal" data-target="#md-colored"><i class="fa fa-pencil"></i></a>
                    </span>
                    <!--  -->
                    <span data-placement="right" data-toggle="tooltip" data-original-title="Delete">
                      <a class="label label-danger" href="#" target="_self" data-toggle="modal" data-target="#md-colored1"><i class="fa fa-times"></i></a>
                    </span>
                    <!--  -->
                </td>
              </tr>              
            </tbody>
          </table>    
          </div>
        <!--  -->
      </div>
    </div>
    <!--  -->
  </div>
  <!--  -->
  <div class="visible-xs">
    <div class="block-flat">
      <div class="header">
        <h3>Tags</h3>
      </div>
      <div class="content">
        <ol>
          <!--  -->
          <li ng-repeat="tag in data.tags">
            <div>
              <span>
                <strong>Tag Name&nbsp;:&nbsp;</strong>
              </span>
              <!--  -->
              <span class="tag-color" style="background-color:{{tag.color}}">
                &nbsp;{{tag.name}}
              </span>
              <!--  -->
              <br>
              <br>
              <!--  -->
              <span>
                <strong>Action&nbsp;:&nbsp;</strong>
              </span>
              <!--  -->
              <a class="label label-success" href="#" target="_self" data-toggle="modal" data-target="#md-colored">
                <i class="fa fa-pencil"></i>
              </a>&nbsp;
              <!--  -->
              <a class="label label-danger" href="#" target="_self" data-toggle="modal" data-target="#md-colored1">
                <i class="fa fa-times"></i>
              </a>
              <!--  -->
              <br>
              <!--  -->
            </div>
            <!--  -->
            <hr>
            <!--  -->
          </li>
          <!--  -->
        </ol>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="clearfix model-custom">
    <!-- Modal -->
    <div class="modal fade" id="md-colored3" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
          <h3>Add New Tag</h3>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <!--  -->
          <div class="form">
            <div class="form-group">
              <label>Tag Name</label>
              <input type="text" class="form-control" placeholder="Tag Name" ng-model="data.name" required="" autofocus="">
            </div>
            <!--  -->
            <div class="form-group">
              <label>Color</label>
              <input colorpicker="hex" class="form-control" required="" type="text" ng-model="data.color" />              
            </div>
            <!--  -->
          </div>
          <!--  -->         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success btn-flat" data-dismiss="modal" ng-click="save()">Done</button>
        </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal --> 
  </div>
  <!--  -->
  <div class="clearfix model-custom">
    <!-- Modal -->
    <div class="modal fade" id="md-colored" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
          <h3>Edit Tag</h3>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <!--  -->
          <div class="form">
            <div class="form-group">
              <label>Tag Name</label>
              <input type="text" class="form-control" placeholder="Tag Name">
            </div>
            <!--  -->
            <div class="form-group hidden-xs">
              <label>Color</label>
              <span class="input-group demo2">
                  <input type="text" value="" class="form-control" />
                  <span class="input-group-addon"><i></i></span>
              </span>
            </div>
            <!--  -->
            <div class="form-group visible-xs">
              <label>Color</label>
              <span class="input-group demo2 width-color-field">
                  <input type="text" value="" class="form-control" />
                  <span class="input-group-addon"><i></i></span>
              </span>
            </div>
            <!--  -->
          </div>
          <!--  -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success btn-flat" data-dismiss="modal">Done</button>
        </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal --> 
  </div>
  <!--  -->
  <!--  -->
  <div class="clearfix model-custom">
    <!-- Modal -->
    <div class="modal fade" id="md-colored1" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
          <h3>Delete Tag</h3>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body text-center">
          <!--  -->
          <i class="fa fa-trash-o fa-4x" style="color: red;"></i><br>
          <span class="delete-item">Are you Sure !!<br>you want to Delete this Tag ??</span>
          <!--  -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal">Delete</button>
        </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal --> 
  </div>
  <!--  -->
</div>