<div class="cl-mcont shopping-list">
  <div class="row hidden-xs">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="block-flat">
          <div class="header">
            <h3><i class="fa fa-shopping-cart fa-color-black"></i>&nbsp;Shooping list</h3>
          </div>
          <div class="content">
            <div class="table-responsive">
            <table class="table no-border hover">
              <thead class="no-border">
                <tr>
                  <th><strong>Product Name</strong></th>
                  <th><strong>Date</strong></th>
                  <th><strong>Quantity</strong></th>
                  <th><strong>Price</strong></th>
                  <th class="text-center"><strong>Action</strong></th>
                </tr>
              </thead>
              <tbody class="no-border-y">
                <tr>
                  <td>Flour</td>
                  <td>05/14/2013</td>
                  <td>2 kg</td>
                  <td>$25.2</td>
                  <td class="text-center">
                    <!--  -->
                    <span data-placement="left" data-toggle="tooltip" data-original-title="Edit">
                      <a class="label label-success" href="#" data-toggle="modal" data-target="#md-colored"><i class="fa fa-pencil"></i></a>
                    </span>
                    <!--  -->
                    <span data-placement="right" data-toggle="tooltip" data-original-title="Delete">
                      <a class="label label-danger" href="#" data-toggle="modal" data-target="#md-colored1"><i class="fa fa-times"></i></a>
                    </span>
                    <!--  -->
                  </td>
                </tr>
                <tr>
                  <td>Flour</td>
                  <td>05/14/2013</td>
                  <td>2 kg</td>
                  <td>$25.2</td>
                  <td class="text-center">
                    <!--  -->
                    <span data-placement="left" data-toggle="tooltip" data-original-title="Edit">
                      <a class="label label-success" href="#" data-toggle="modal" data-target="#md-colored"><i class="fa fa-pencil"></i></a>
                    </span>
                    <!--  -->
                    <span data-placement="right" data-toggle="tooltip" data-original-title="Delete">
                      <a class="label label-danger" href="#" data-toggle="modal" data-target="#md-colored1"><i class="fa fa-times"></i></a>
                    </span>
                    <!--  -->
                  </td>
                </tr>
                <tr>
                  <td>Flour</td>
                  <td>05/14/2013</td>
                  <td>2 kg</td>
                  <td>$25.2</td>
                  <td class="text-center">
                    <!--  -->
                    <span data-placement="left" data-toggle="tooltip" data-original-title="Edit">
                      <a class="label label-success" href="#" data-toggle="modal" data-target="#md-colored"><i class="fa fa-pencil"></i></a>
                    </span>
                    <!--  -->
                    <span data-placement="right" data-toggle="tooltip" data-original-title="Delete">
                      <a class="label label-danger" href="#" data-toggle="modal" data-target="#md-colored1"><i class="fa fa-times"></i></a>
                    </span>
                    <!--  -->
                  </td>
                </tr>
              </tbody>
            </table>    
            </div>
          </div>
        </div>        
      </div>
    </div>

    <!--  -->
  <div class="visible-xs">
    <div class="block-flat">
      <div class="header">
        <h3><i class="fa fa-shopping-cart fa-color-black"></i>&nbsp;Shooping list</h3>
      </div>
      <div class="content">
        <ol>
          <!--  -->
          <li>
            <div>
              <span><strong>Product Name&nbsp;:&nbsp;</strong></span><span>Flour</span><br>
              <span><strong>Date&nbsp;:&nbsp;</strong></span><span>05/14/2013</span><br>
              <span><strong>Quantity&nbsp;:&nbsp;</strong></span><span>2 kg</span><br>
              <span><strong>Price&nbsp;:&nbsp;</strong></span><span>$25.2</span><br>
              <span><strong>Action&nbsp;:&nbsp;</strong></span>
              <a class="label label-success" href="#" target="_self" data-toggle="modal" data-target="#md-colored"><i class="fa fa-pencil"></i></a>
              <a class="label label-danger" href="#" target="_self" data-toggle="modal" data-target="#md-colored1"><i class="fa fa-times"></i></a>
            </div>
            <hr>
          </li>
          <!--  -->
          <li>
            <div>
              <span><strong>Product Name&nbsp;:&nbsp;</strong></span><span>Flour</span><br>
              <span><strong>Date&nbsp;:&nbsp;</strong></span><span>05/14/2013</span><br>
              <span><strong>Quantity&nbsp;:&nbsp;</strong></span><span>2 kg</span><br>
              <span><strong>Price&nbsp;:&nbsp;</strong></span><span>$25.2</span><br>
              <span><strong>Action&nbsp;:&nbsp;</strong></span>
              <a class="label label-success" href="#" target="_self" data-toggle="modal" data-target="#md-colored"><i class="fa fa-pencil"></i></a>
              <a class="label label-danger" href="#" target="_self" data-toggle="modal" data-target="#md-colored1"><i class="fa fa-times"></i></a>
            </div>
            <hr>
          </li>
          <!--  -->
          <li>
            <div>
              <span><strong>Product Name&nbsp;:&nbsp;</strong></span><span>Flour</span><br>
              <span><strong>Date&nbsp;:&nbsp;</strong></span><span>05/14/2013</span><br>
              <span><strong>Quantity&nbsp;:&nbsp;</strong></span><span>2 kg</span><br>
              <span><strong>Price&nbsp;:&nbsp;</strong></span><span>$25.2</span><br>
              <span><strong>Action&nbsp;:&nbsp;</strong></span>
              <a class="label label-success" href="#" target="_self" data-toggle="modal" data-target="#md-colored"><i class="fa fa-pencil"></i></a>
              <a class="label label-danger" href="#" target="_self" data-toggle="modal" data-target="#md-colored1"><i class="fa fa-times"></i></a>
            </div>
            <hr>
          </li>
          <!--  -->
        </ol>
      </div>
    </div>
  </div>
  <!--  -->

  <div class="clearfix model-custom">
    <!-- Modal -->
    <div class="modal fade" id="md-colored" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
          <h3>Edit List Item</h3>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <!--  -->
          <div class="form">
            <div class="form-group">
              <label>Product Name</label>
              <input type="email" class="form-control" placeholder="Product Name">
            </div>
            <!--  -->
            <div class="row">
              <div class="form-group col-md-12 no-margin">
                <label>Purchase Date</label>
              </div>
            </div>
            <div class="row no-margin-y">
              <div class="form-group col-md-3 col-sm-3  col-xs-3 no-margin">
                <input type="name" class="form-control" placeholder="DD">
              </div>
              <div class="form-group col-md-3 col-sm-3  col-xs-3 no-margin">
                <input type="name" class="form-control" placeholder="MM">
              </div>
              <div class="form-group col-md-3 col-sm-3  col-xs-4 no-margin">
                <input type="name" class="form-control" placeholder="YYYY">
              </div>
            </div>
            <!--  -->
            <div class="form-group">
              <label>Quantity</label>
              <input type="name" class="form-control" placeholder="Quantity">
            </div>
            <!--  -->
            <!--  -->
            <div class="form-group">
              <label>Price</label>
              <input type="name" class="form-control" placeholder="Price">
            </div>
            <!--  -->
          </div>
          <!--  -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success btn-flat" data-dismiss="modal">Done</button>
        </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal --> 
  </div>
  <!--  -->
  <div class="clearfix model-custom">
    <!-- Modal -->
    <div class="modal fade" id="md-colored1" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
          <h3>Delete Item</h3>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body text-center">
          <!--  -->
          <i class="fa fa-trash-o fa-4x" style="color: red;"></i><br>
          <span class="delete-item">Are you Sure !!<br>you want to Delete this Item ??</span>
          <!--  -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal">Delete</button>
        </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>
  <!--  -->
<!-- //dashboard -->
</div>