 <div class="cl-sidebar">
    <div class="cl-toggle"><i class="fa fa-bars"></i></div>
    <div class="cl-navblock">
      <div class="menu-space">
        <div class="content">
          <div class="sidebar-logo">
            <div class="logo">
                <a href="#">Fancy Nanny</a>
            </div>
          </div>
          <ul class="cl-vnavigation">
            <li class="active" ><a href="index.html"><i class="fa fa-home"></i><span>Dashboard</span></a></li>
            <li><a href="index.html"><i class="fa fa-calendar"></i><span>calender</span></a></li>
            <li><a href="index.html"><i class="fa fa-pencil-square-o"></i><span>Add Recipes</span></a></li>
            <li><a href="index.html"><i class="fa fa-shopping-cart"></i><span>Shooping list</span></a></li>
            <li><a href="index.html"><i class="fa fa-thumb-tack"></i><span>Documents</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
 