 <div class="cl-sidebar">
    <div class="cl-toggle"><i class="fa fa-bars"></i></div>
    <div class="cl-navblock">
      <div class="menu-space">
        <div class="content">
          <div class="sidebar-logo">
            <div class="logo">
                <a href="#">Fancy Nanny</a>
            </div>
          </div>
          <ul class="cl-vnavigation">
            <li class="active" ><a href="#/home"><i class="fa fa-home"></i><span>Dashboard</span></a></li>
            <li><a href="#/calender"><i class="fa fa-calendar"></i><span>Calender</span></a></li>
            <li><a href="#/messages"><i class="fa fa-calendar"></i><span>Messages</span></a></li>
            <li><a href="#/events"><i class="fa fa-calendar"></i><span>Events</span></a></li>
            <li><a href="#/todos"><i class="fa fa-calendar"></i><span>Todos</span></a></li>
            <li><a href="#/recipes"><i class="fa fa-pencil-square-o"></i><span>Recipes</span></a></li>
            <li><a href="#/add_recipes"><i class="fa fa-pencil-square-o"></i><span>Add Recipes</span></a></li>
            <li><a href="#/tags"><i class="fa fa-pencil-square-o"></i><span>tags</span></a></li>
            <li><a href="#/shopping"><i class="fa fa-shopping-cart"></i><span>Shooping list</span></a></li>
            <li><a href="#/documents"><i class="fa fa-thumb-tack"></i><span>Documents</span></a></li>
            <li><a href="#/user_profile"><i class="fa fa-thumb-tack"></i><span>User Profile</span></a></li>
            <li><a href="#/add_ingredient"><i class="fa fa-thumb-tack"></i><span>add Ingredient</span></a></li>
            <li><a href="#/add_Categories"><i class="fa fa-thumb-tack"></i><span>add Category</span></a></li>
            <li><a href="#/add_UnitOfMeasure"><i class="fa fa-thumb-tack"></i><span>add UnitOfMeasure</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
 